---
import SurveyEdition from '@components/SurveyEdition.astro'

const { edition, locale, survey } = Astro.props

---
<section class="last-edition">
    <SurveyEdition locale={locale} edition={edition} survey={survey} isLast={true} />
</section>