---
import T from "@components/T";
const { survey, surveys, locale } = Astro.props;
const otherSurveys = surveys.filter((s) => s.id !== survey.id);
---

<div class="other-surveys">
  <div class="other-surveys-inner">
    <T locale={locale} k="homepage.other_surveys" />
    {
      otherSurveys.map(({ name, domain }) => (
        <a class="other-survey-link" href={`https://${domain}`}>
          {name}
        </a>
      ))
    }
  </div>
</div>

<style lang="scss">
  .other-surveys {
    background: var(--background);
    padding: var(--halfspacing) 0;
    text-align: center;
    margin-bottom: var(--spacing);
  }

  .other-surveys-inner {
    width: 100%;
    margin: 0 auto;

    @media screen and (max-width: 666px) {
      font-size: var(--small-font);
    }
  }

  .other-survey-link {
    display: inline-block;
    margin-left: var(--doublespacing);

    @media screen and (max-width: 666px) {
      margin-left: var(--halfspacing);
    }
  }
</style>
