---
import T from '@components/T'
const { survey, surveys, locale } = Astro.props
const otherSurveys = surveys.filter(s => s.id !== survey.id)
---

<header class="other-surveys">
  <nav class="other-surveys-inner">
    <T locale={locale} k="homepage.other_surveys" />
    <ul class="other-surveys-list">
    {otherSurveys.map(
    ({name, domain})=> (<li class="other-survey-item"><a class="other-survey-link" href={`https://${domain}`}>{name}</a></li>)
    )}
    </ul>
  </nav>
</header>

<style lang="scss">
  .other-surveys {
    background: var(--background);
    padding: var(--halfspacing) 0;
    text-align: center;
    margin-bottom: var(--spacing);
  }

  .other-surveys-inner {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;

    @media screen and (max-width: 666px) {
      font-size: var(--small-font);
      flex-wrap: wrap;
    }
  }

  .other-surveys-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0;
  }

  .other-survey-item {
    display: inline-block;
    margin-left: var(--doublespacing);

    @media screen and (max-width: 666px) {
      margin-left: var(--halfspacing);
    }
  }

</style>