.chart-legend-2 {
    border: 1px solid var(--borderColor);
    padding: var(--quarterSpacing) var(--halfSpacing);
    display: grid;
    // column-gap: var(--spacing);
    // row-gap: var(--halfSpacing);
    grid-template-columns: repeat(auto-fit, minmax(140px, auto));
    font-size: 0.9rem;
    margin-bottom: var(--spacing);
    .chart-legend-item {
        padding: var(--quarterSpacing) var(--halfSpacing);

        cursor: default;
        &:hover {
            background-color: var(--backgroundAltColor);
        }
    }
}
