.ratio-description {
    h4,
    .icon-wrapper {
        display: inline-block;
    }
    .icon-wrapper,
    svg {
        height: 19px;
        width: 19px;
        vertical-align: sub;
    }
    h4 {
        margin: 0;
    }
    margin-top: 0;
}

.chart-multi-ratios-content {
    .chart-multi-ratios-multiSection & {
        display: grid;
        grid-template-columns: 1fr minmax(400px, min-content);
        grid-template-areas: 'content sidebar';
        gap: var(--doubleSpacing);
        .chart-legend {
            grid-area: sidebar;
        }
        .chart-wrapper-single {
            grid-area: content;
        }
    }
}

.ratios-tabs-tab {
    display: flex;
    align-items: center;
    gap: 5px;
    .icon-wrapper {
        margin: 0 !important;
    }
}

.tabs-wrapper-features_ratios_over_time {
    .block-header-wrapper {
        display: none;
    }
}
