@import '../../../stylesheets/_breakpoints.scss';
.chart-facet {
    border-bottom: 1px solid #ffffff33;
    padding-bottom: 20px;
    margin-bottom: 20px;
    &-content {
        grid-column-start: 2;
        grid-column-end: 4;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}
.chart-heading {
    border-bottom: 1px solid #ffffff33;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: var(--spacing);

    .chart-created_at_date_by_source & {
        flex-direction: column;
        border: none;
    }
}
.chart-heading-withToggle {
    flex-direction: row;
    justify-content: space-between;
}
.chart-bar {
    // position: relative;
    // top: var(--halfSpacing);
}
.chart-control-button {
    display: flex;
    gap: 5px;
    align-items: center;
}

.chart-actions {
    display: flex;
    justify-content: center;
}

.chart-heading-facet {
    display: flex;
    align-items: center;
    gap: 20px;
}
.chart-cell-wrapper {
    position: relative;
}

@keyframes expand-up {
    from {
        opacity: 0;
        transform: translateX(-50%) translateY(0);
    }
    to {
        opacity: 1;
        transform: translateX(-50%) translateY(-20%);
    }
}

@keyframes expand-down {
    from {
        opacity: 0;
        transform: translateX(-50%) translateY(0);
    }
    to {
        opacity: 1;
        transform: translateX(-50%) translateY(20%);
    }
}

@keyframes close-up {
    from {
        opacity: 0;
        transform: translateX(-50%) translateY(-20%);
    }
    to {
        opacity: 1;
        transform: translateX(-50%) translateY(0);
    }
}

@keyframes close-down {
    from {
        opacity: 0;
        transform: translateX(-50%) translateY(20%);
    }
    to {
        opacity: 1;
        transform: translateX(-50%) translateY(0);
    }
}

.chart-cell {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;

    .chart-faceted-bar &-highlighted,
    &-hasNestedBuckets:hover {
        box-shadow: 0px 0px 0px 3px #ffffff99;
        z-index: 10 !important;
    }
    .chart-cell-expand {
        display: none;
    }
    &-hasNestedBuckets:hover {
        position: relative;
        .chart-cell-expand {
            position: absolute;
            display: block;
            height: 20px;
            width: 20px;
            left: 50%;
            transform: translateX(-50%);
            line-height: 1;
            svg {
                height: 100%;
                width: 100%;
                filter: drop-shadow(1px 0px 1px rgba(0, 0, 0, 0.9));
            }
        }
        .chart-cell-expand-up {
            bottom: 60%;
            animation: 1s linear infinite expand-up;
        }
        .chart-cell-expand-down {
            top: 60%;
            animation: 1s linear infinite expand-down;
        }
        &.chart-cell-showNestedBuckets {
            .chart-cell-expand-down {
                top: inherit;
                bottom: 60%;
                animation: 1s linear infinite close-up;
            }
            .chart-cell-expand-up {
                top: 60%;
                bottom: inherit;
                animation: 1s linear infinite close-down;
            }
        }
    }
}
.chart-cell-inner {
    height: 100%;
    width: 100%;
    display: grid;
    place-items: center;
}

.tooltip-trigger-withBorder {
    border-bottom: 1px dotted #ffffff99;
}
