@import '../../../stylesheets/_breakpoints.scss';
.chart-facet {
    border-bottom: 1px solid #ffffff33;
    padding-bottom: 20px;
    margin-bottom: 20px;
    &-content {
        grid-column-start: 2;
        grid-column-end: 4;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}
.chart-heading {
    border-bottom: 1px solid #ffffff33;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    gap: var(--spacing);
    @include small {
        flex-direction: column;
    }
}
.chart-bar {
    // position: relative;
    // top: var(--halfSpacing);
}
.chart-control-button {
    display: flex;
    gap: 5px;
    align-items: center;
}

.chart-actions {
    display: flex;
    justify-content: center;
}

.chart-heading-facet {
    display: flex;
    align-items: center;
    gap: 20px;
}

.chart-cell {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
}

.tooltip-trigger-withBorder {
    border-bottom: 1px dotted #ffffff99;
}

// workshop

// hide gridlines to show grid better
// .chart-columns-gridlines {
//     display: none !important;
// }

// hide SVG to show grid better
// .chart-lines-wrapper {
//     display: none;
// }
