.chart-heading {
    border-bottom: 1px solid #ffffff33;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
}
.chart-heading-content {
    grid-column-start: 2;
    grid-column-end: 4;
}
