@import '../../../stylesheets/_breakpoints.scss';

.chart-controls {
    display: flex;
    flex-direction: column;
    gap: var(--spacing);
}
.chart-controls-top {
    display: flex;
    flex-direction: column;
    gap: var(--spacing);
    justify-content: center;
}
.chart-controls-bottom {
    display: flex;
    gap: var(--halfSpacing);
    @include small {
        flex-direction: column;
    }
    @include medium-large {
        justify-content: space-between;
    }
}
.chart-controls-left,
.chart-controls-right {
}
