.chart-wrapper {
    margin-top: var(--doubleSpacing);
    display: flex;
    flex-direction: column;
    gap: var(--doubleSpacing);
}

.chart-description {
    margin-top: var(--doubleSpacing);
}

.chart-description + .chart-wrapper {
    margin-top: var(--spacing);
}
