@import '../../../stylesheets/_breakpoints.scss';

.chart-rows {
    display: flex;
    gap: 20px;
    flex-direction: column;
    // grid-auto-rows: minmax(0, 1fr);
}

.chart-row,
.chart-axis-bottom,
.chart-heading {
    align-items: center;
    @include small {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    @include medium-large {
        display: grid;
        grid-template-columns: 200px minmax(0, 1fr) 100px;
        gap: 20px;
    }
}
.chart-row {
    &-grouped {
        background: #ffffff11;
    }
    &-overall {
        background: #ffffff22;
    }
}
.chart-heading {
    &-content {
        grid-column-start: 2;
        grid-column-end: 4;
        border-bottom: 1px solid #ffffff33;
        padding-bottom: 20px;
    }
}
.chart-facet {
    border-bottom: 1px solid #ffffff33;
    padding-bottom: 20px;
    margin-bottom: 20px;
    &-content {
        grid-column-start: 2;
        grid-column-end: 4;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}
.chart-row-heading {
    margin: 0;
    font-size: var(--chartFontColumnHeading);
    height: var(--rowHeight);
    // display: flex;
    // align-items: center;
    font-size: 0.9rem;
    font-weight: normal;
    text-align: right;
}
.chart-row-content {
    height: calc(var(--rowHeight) * 1px);
    position: relative;
    left: calc(var(--rowOffset) * -1px);
}
.chart-control-button {
    display: flex;
    gap: 5px;
    align-items: center;
}

.chart-row-metadata {
    display: flex;
    gap: 5px;
    align-items: center;
}

.chart-controls {
    flex: 1;
    .ButtonGroup {
        width: 100%;
        display: flex;
    }
    .Button {
        flex: 1;
    }
}
.chart-controls,
.chart-actions {
    display: flex;
    justify-content: center;
}

.chart-facet-question {
    display: flex;
    align-items: center;
    gap: 5px;
}

.chart-heading-facet {
    display: flex;
    align-items: center;
    gap: 20px;
}

.chart-cell {
    display: flex;
    justify-content: center;
    align-items: center;

    text-shadow: 1px 1px 0 #000000cc, -1px 1px 0 #000000cc, -1px -1px 0 #000000cc,
        1px -1px 0 #000000cc;
    border-radius: 2px;
    font-size: 0.8rem;
}
