@use '../../../stylesheets/_breakpoints.scss';

.chart-wrapper {
    margin-top: var(--doubleSpacing);
    display: flex;
    flex-direction: column;
    gap: var(--doubleSpacing);
}

.chart-wrapper-heading {
    display: flex;
    gap: var(--halfSpacing);
    flex-direction: column;

    margin-top: var(--doubleSpacing);
    @include breakpoints.medium-large {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}
.chart-wrapper-heading + .chart-wrapper {
    margin-top: var(--spacing);
}
