.chart-comments {
    display: flex;
    align-items: center;
    gap: 5px;
    border: none;
    background: none;
    padding: 0;
    .chart-grid-item & {
        // hide when inside a chart comparison grid, to save space
        display: none;
    }
}
