@use '../../../stylesheets/_breakpoints.scss';

.correlations-modal {
    .modal-inner {
        padding: 0;
    }
}

.chart-correlation-indicator {
    .chart-cell & {
        position: absolute;
        right: -70px;
    }
}
.chart-correlation-indicator-button {
    display: flex;
    gap: var(--quarterSpacing);
    align-items: center;
}

.correlations-wrapper {
    position: relative;
}
.correlations-heading-wrapper {
    container-type: scroll-state;
    position: sticky;
    top: -20px;
}
.correlations-heading {
    margin: 0;
    font-weight: normal;
    background-color: var(--backgroundAltColor);
    padding: var(--doubleSpacing) var(--doubleSpacing) var(--spacing) var(--doubleSpacing);
    strong {
        font-style: italic;
    }
    transition: box-shadow 0.3s ease;

    @container scroll-state(stuck: top) {
        box-shadow: 0px 10px 5px rgba(0, 0, 0, 0.2);
    }
}

.correlations-content {
    padding: 0 var(--doubleSpacing) var(--doubleSpacing) var(--doubleSpacing);
    display: flex;
    flex-direction: column;
    gap: var(--spacing);
}

.correlation-directions {
    font-size: var(--fontSizeSmall);
    border-radius: 10px;
    border: 1px solid var(--borderAltColor);
    padding: var(--spacing);
    // color: var(--textAltColor);
    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
        display: flex;
        flex-direction: column;
        gap: var(--halfSpacing);
    }
    li {
        display: flex;
        align-items: center;
        gap: var(--spacing);
        svg {
            height: 36px;
            width: auto;
            flex: none;
        }
    }
}
.correlation-items {
    @include breakpoints.small {
        display: flex;
        flex-direction: column;
        gap: var(--spacing);
    }
    @include breakpoints.medium-large {
        display: grid;
        grid-template-columns: min-content 1fr;
        column-gap: var(--spacing);
        row-gap: var(--spacing);
    }
}

.correlation-item {
    @include breakpoints.small {
        display: flex;
        flex-direction: column;
        gap: var(--spacing);
    }
    @include breakpoints.medium-large {
        display: grid;
        grid-column: 1 / -1;
        grid-template-columns: subgrid;
    }
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.2);
    padding: var(--spacing);
}

.correlation-item-value {
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
    gap: var(--quarterSpacing);
    align-items: center;
    line-height: 1;
    svg {
        height: 1.5em;
        width: auto;
        flex: none;
    }
}
.correlation-item-value,
.correlation-item-content-strength {
    .correlation-item-very_strong & {
        color: rgb(255, 77, 65);
    }
    .correlation-item-strong & {
        color: rgb(238, 134, 15);
    }
    .correlation-item-moderate & {
        color: rgb(252, 243, 69);
    }
    .correlation-item-weak & {
    }

    // .correlation-item-positive.correlation-item-very_strong & {
    //     color: rgb(255, 77, 65);
    // }
    // .correlation-item-positive.correlation-item-strong & {
    //     color: rgb(238, 134, 15);
    // }
    // .correlation-item-positive.correlation-item-moderate & {
    //     color: rgb(252, 243, 69);
    // }
    // .correlation-item-positive.correlation-item-weak & {
    // }

    // .correlation-item-negative.correlation-item-very_strong & {
    //     color: rgb(54, 242, 255);
    // }
    // .correlation-item-negative.correlation-item-strong & {
    //     color: rgb(41, 137, 255);
    // }
    // .correlation-item-negative.correlation-item-moderate & {
    //     color: rgb(181, 153, 254);
    // }
    // .correlation-item-negative.correlation-item-weak & {
    // }
}
.correlation-item-content-strength {
    font-weight: bold;
}
.correlation-item-content-direction {
    font-weight: bold;
}

.correlation-item-subheading {
    display: flex;
    font-weight: normal;
    text-transform: uppercase;
    font-size: var(--fontSizeSmall);
    color: var(--textAltColor);
    margin-bottom: var(--quarterSpacing);
    @include breakpoints.small {
        flex-direction: column;
        gap: var(--halfSpacing);
    }
    @include breakpoints.medium-large {
        align-items: center;
        justify-content: space-between;
    }
}
.correlation-item-breadcrumbs {
    margin: 0;
}
.correlation-item-n {
    display: flex;
    align-items: center;
    gap: var(--quarterSpacing);
}

.correlations-note {
    font-size: var(--fontSizeSmallish);
}
