.chart-freeform-answers {
    span {
        display: flex;
        align-items: center;
        gap: 5px;
    }
    &-button {
        background: none;
        border: none;
        padding: 0;
    }
}
.chart-freeform-answers-heading {
    div {
        display: inline;
    }
}
