@import '../../../stylesheets/_breakpoints.scss';

.chart-wrapper-grid {
    @include small {
        display: flex;
        flex-direction: column;
        gap: var(--spacing);
    }
    @include medium-large {
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: var(--doubleSpacing);
        column-gap: var(--doubleSpacing);
    }
}

.chart-grid-item {
    min-width: 0;
}
.chart-grid-item-heading {
    display: flex;
    justify-content: space-between;
    background: var(--backgroundAltColor);
    padding: var(--quarterSpacing) var(--halfSpacing);
    margin-bottom: var(--spacing);
    font-size: 0.8rem;
    border-radius: 3px;
    width: 100%;
    gap: var(--spacing);
}
.chart-grid-item-heading-label {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.chart-grid-item-heading-count {
}
