.chart-legend {
    // border: 1px solid white;
    // padding: 10px;
    &-inner {
        // border: 1px solid #ffffff33;
        // padding: 10px;

        display: flex;
        gap: 10px;
        justify-content: space-between;
        grid-column-start: 2;
        grid-column-end: 4;
    }
    &-heading {
        margin: 0;
    }
}
.legend-item {
    button {
        display: flex;
        align-items: center;
        gap: 5px;
        white-space: nowrap;
        background: var(--color);
        border: 0;
        font-size: 0.8rem;
    }
}
.legend-item-color {
    display: none;
    background: var(--color);
    height: 12px;
    width: 12px;
    border: 1px solid white;
}

.column-heading-sort {
    // opacity: 0.7;
    &-enabled {
        // opacity: 1;
        border: 2px solid white !important;
    }
}

.order-asc,
.order-desc {
    opacity: 0.5;
    display: none;
}
.order-asc {
    .column-heading-order-asc.column-heading-sort-enabled & {
        opacity: 1;
        display: block;
    }
}
.order-desc {
    .column-heading-order-desc.column-heading-sort-enabled & {
        opacity: 1;
        display: block;
    }
}
