.chart-metadata {
    border-top: 1px solid #ffffff33;
    padding-top: 20px;
    gap: 20px;
    align-items: center;
    display: grid;
    grid-template-columns: auto minmax(0, 1fr);
}

.chart-metadata-question {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 10px;
    background: var(--backgroundAltColor);
    border-radius: 100px;
    padding: 10px;
    font-size: 0.8rem;
}

.chart-metadata-completion {
    font-size: 0.8rem;
}
