.chart-multiple {
    display: flex;
    justify-content: center;
    align-items: center;
    // border-radius: 40px;
    // background: var(--backgroundColor);
    // padding: 2px 8px;
    text-transform: uppercase;
    gap: var(--quarterSpacing);
}

.chart-row-multiple-icon-wrapper {
    position: absolute;
    left: calc(var(--offset) * 1% + 7px);
    height: var(--barHeight);
    display: flex;
    align-items: center;
}
.chart-row-multiple-icon {
    display: block;
    opacity: 0.5;
}
