.chart-row-heading-label {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 5px;
}

.chart-row-heading {
    margin: 0;
    font-size: var(--chartFontColumnHeading);
    height: var(--rowHeight);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 0.9rem;
    font-weight: normal;
}

.chart-row-freeform-icon {
    opacity: 0.3;
}
