.chart-row-heading-label {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 5px;
}

.chart-row-heading {
    margin: 0;
    font-size: var(--chartFontColumnHeading);
    height: var(--barHeight);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 0.9rem;
    font-weight: normal;
    gap: 10px;
    max-width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.chart-row-freeform-icon {
    opacity: 0.3;
}
