.chart-showall {
    background: linear-gradient(to top, var(--backgroundColor) 20%, #00000000);
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 1;
    padding: 60px 0 20px 0;
    // margin-top: -60px;
    // transform: translateY(-100%);
    // display: none;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}
