.details {
}
.details-trigger {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: none;
    border: none;
    padding: 0;
    border-bottom: 1px solid var(--borderAltColor);
    padding-bottom: var(--halfSpacing);
    margin-bottom: var(--halfSpacing);
    padding: var(--halfSpacing);

    .details-open & {
        background-color: rgba(0, 0, 0, 0.28);
    }
    .details-closed & {
        background-color: rgba(0, 0, 0, 0.1);
        &:hover {
            background-color: rgba(0, 0, 0, 0.2);
        }
    }
}
.details-heading {
    margin: 0;
    color: var(--textColor);
}
.details-icon {
    transition: all 300ms ease-out;
    .details-closed & {
        transform: rotate(-90deg);
    }
}

.details-contents {
    padding-top: var(--halfSpacing);
}
