# Logs
logs
*.log

# Captures
# static/images/captures

# Builds
results/public
# images are survey-dependent and copied over from surveys/foo/images by webpack
results/static/images

# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
node_modules

# Cache
.cache
.sass-cache
.gatsby-context.js

# IDE
.idea

# OSX
.DS_Store

# Secrets
.env
# NOTE: in Vite or Next app, .env can actually be tracked
# However, .local are NEVER tracked whatever the framework
*.local

# docker volumes
esdata


.logs
.logs/*

.idea
node_modules
.DS_Store
.env
test.mjs
dist
.logs
.mongo


# Turborepo
.turbo

results/yarn.lock