---

---

<script>
  // NOTE: not sure yet how to pass variables from the server to a script
  // maybe by generating it as some string
  // and passing it via set:html as we do for CSS style
  const availableLocales = ["en-US"];
  const preferredLocale = window.navigator.language;
  const redirUrl = window.location.toString(); // will include trailing slash?
  // TODO
  function getClosestLocale(
    availableLocales: Array<string>,
    preferredLocale: string,
  ) {
    return "en-US";
  }
  const locale = getClosestLocale(availableLocales, preferredLocale);
  // @see https://developer.mozilla.org/fr/docs/Web/HTML/Element/meta
  window.location.href = new URL(locale, window.location.toString()).toString();
</script>
<div>Redirecting to your preferred language...</div>
