.chart-row {
    .chart-bar,
    .chart-faceted-bar {
        position: relative;
    }
}
.horizontal-chart-cell {
    position: absolute;
    background: linear-gradient(to left, var(--color1), var(--color2));
    width: calc(var(--width) * 1%);
    left: calc(var(--offset) * 1%);
    height: var(--barHeight);
    &.active-sort {
        // border: 2px solid #ffffffee;
        box-shadow: 0px 0px 0px 2px #ffffffee;
        z-index: 1;
    }
}

.oversized-indicator {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    height: 100%;
    svg {
        height: 100%;
        .break-stroke {
            stroke: #ffffffaa;
        }
    }
}

.chart-rows-zebra .chart-row:nth-child(1n) .break-fill {
    fill: var(--backgroundColor);
}

.chart-rows-zebra .chart-row:nth-child(2n) .break-fill {
    fill: color-mix(in srgb, var(--backgroundAltColor) 50%, transparent);
}
