.chart-bar,
.chart-faceted-bar {
    position: relative;
}
.horizontal-chart-cell {
    position: absolute;
    background: linear-gradient(to left, var(--color1), var(--color2));
    width: calc(var(--width) * 1%);
    left: calc(var(--offset) * 1%);
    height: calc(var(--rowHeight) * 1px);
}

.chart-horizontal-bar-controls {
    display: flex;
    justify-content: space-between;
    gap: var(--spacing);
}
