// @import "water.scss";
@import "colors.scss";
@import "variables.scss";
@import "typography.scss";
@import "breakpoints.scss";
@import "admin.scss";
// @import "pico.scss";

@import "@picocss/pico/scss/pico";

body {
  padding: 20px;
  font-size: $root-size;
}
:root {
  --font-size: $root-size;
  --primary: #d81b60;
}
