@import '../../../../stylesheets/_breakpoints.scss';

.chart-row,
.chart-axis {
}

.chart-subgrid {
    @include medium-large {
        display: grid;
        grid-template-columns: subgrid;
        grid-column-start: 1;
        grid-column-end: 4;
        // gap: 20px;
        // grid-template-areas: 'heading content metadata';
    }
}
.chart-row {
    align-items: center;
    @include small {
        // display: flex;
        // flex-direction: column;
        padding: var(--spacing) 0;
        display: grid;
        column-gap: var(--halfSpacing);
        row-gap: var(--spacing);
        grid-template-columns: minmax(0, max-content) minmax(0, 1fr);
        grid-template-areas:
            'heading metadata'
            'content content';
        position: relative;
    }
}

@keyframes pulse {
    from {
        box-shadow: 0px 0px 0px var(--linkColor);
    }
    to {
        box-shadow: 0px 0px 8px var(--linkColor);
    }
}
.chart-row-hasNestedBuckets:hover {
    .chart-depth-node-button {
        border-color: var(--linkColor);
        // box-shadow: 0px 0px 5px var(--linkColor);
        animation: 1s linear infinite alternate pulse;
        svg {
            stroke: var(--linkColor);
        }
    }
}
.chart-axis {
    align-items: center;
    @include small {
        // display: flex;
        // flex-direction: column;
        // display: grid;
        // column-gap: var(--halfSpacing);
        // grid-template-columns: minmax(0, max-content) minmax(0, 1fr);
        // grid-template-areas:
        //     'heading metadata'
        //     'content content';
        // position: relative;
    }
}
.chart-rows-zebra {
    .chart-row:nth-child(2n) {
        @include small {
            background-color: color-mix(in srgb, var(--backgroundAltColor) 50%, transparent);
        }
        @include medium-large {
            .chart-row-content {
                background-color: color-mix(in srgb, var(--backgroundAltColor) 50%, transparent);
            }
        }
    }
}

.chart-row {
    position: relative;
    --rowPadding: var(--halfSpacing);
    // &-grouped {
    //     background: #ffffff11;
    // }
    &-depth-0 {
    }
    &-expanded,
    &-depth-1,
    &-depth-2,
    &-depth-3 {
        // background: #ffffff18;
    }
    .chart-row-index {
        // display: none;
    }
    &-overall {
        // background: #ffffff22;
    }
    &:hover {
        background: var(--rowHoverColor);
    }
    &.chart-row-highlighted {
        background: var(--rowHoverColor);
    }
}

.chart-row-content {
    padding: var(--rowPadding) 0;
    @include medium-large {
        position: relative;
    }
    // height: calc(var(--barHeight) + var(--spacing));
    // height: var(--barHeight);
}

.chart-bar {
    position: relative;
    height: var(--barHeight);
    left: calc(var(--rowOffset) * -1px);
}

.chart-row-left {
    grid-area: heading;
    display: flex;
    height: 100%;
    @include small {
        align-items: center;
        gap: var(--halfSpacing);
        .chart-row-index {
            order: 2;
            &::before {
                content: '#';
            }
        }
    }
    @include medium-large {
        // justify-content: space-between;
        align-items: center;
        gap: var(--spacing);
    }
}
.chart-row-index {
    color: var(--textAltColor);
    opacity: 0.7;
    font-size: 1.1rem;
    @include small {
        font-size: 0.9rem;
    }
    .chart-sort-options & {
        display: none;
    }
}
.chart-row-content {
    grid-area: content;
    @include small {
        padding: 0;
    }
}
.chart-row-right {
    grid-area: metadata;
    display: flex;
    align-items: center;
    gap: var(--spacing);
    @include small {
        justify-content: flex-end;
        padding-right: var(--quarterSpacing);
        position: relative;
        z-index: 1;
    }
}

.chart-row-heading-label {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 5px;
}

.chart-row-heading {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: var(--halfSpacing);
    flex-grow: 1;
}
.chart-row-heading-section {
    font-size: 0.8rem;
    color: var(--textAltColor);
    display: none;
    font-weight: normal;
    // todo: don't rely on magic value
    margin-top: -27px;
    .tabs-wrapper-all_features &,
    .tabs-wrapper-all_libraries & {
        // only show on these two charts
        display: block;
    }
}
.chart-row-heading-content {
    margin: 0;
    font-size: var(--chartFontColumnHeading);
    height: var(--barHeight);
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 0.9rem;
    font-weight: normal;
    gap: 10px;
    max-width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}
.chart-row-heading-content-left {
    display: flex;
    align-items: center;
    gap: var(--halfSpacing);
}
.chart-row-heading-content-count {
    color: var(--textAltColor2);
    background: var(--backgroundAltColor);
    border-radius: 100%;
    display: grid;
    place-items: center;
    width: 18px;
    height: 18px;
    font-size: 0.8rem;
    line-height: 1;
}
.chart-row-heading-grouped {
    opacity: 0.5;
}

.chart-row-gridlines {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.chart-row-gridlines-item {
    position: absolute;
    left: var(--xOffset);
    top: 0px;
    bottom: 0px;
    width: 1px;
    border-right: 1px dotted var(--borderAltColor);
}
