@import '../../../../stylesheets/_breakpoints.scss';

.chart-row,
.chart-axis {
}

.chart-subgrid {
    @include medium-large {
        display: grid;
        grid-template-columns: subgrid;
        grid-column-start: 1;
        grid-column-end: 4;
        // gap: 20px;
        // grid-template-areas: 'heading content metadata';
    }
}
.chart-row {
    align-items: center;
    @include small {
        // display: flex;
        // flex-direction: column;
        padding: var(--spacing) 0;
        display: grid;
        column-gap: var(--halfSpacing);
        row-gap: var(--spacing);
        grid-template-columns: minmax(0, max-content) minmax(0, 1fr);
        grid-template-areas:
            'heading metadata'
            'content content';
        position: relative;
    }
}
.chart-axis {
    align-items: center;
    @include small {
        // display: flex;
        // flex-direction: column;
        // display: grid;
        // column-gap: var(--halfSpacing);
        // grid-template-columns: minmax(0, max-content) minmax(0, 1fr);
        // grid-template-areas:
        //     'heading metadata'
        //     'content content';
        // position: relative;
    }
}
.chart-rows-zebra {
    .chart-row:nth-child(2n) {
        @include small {
            background-color: color-mix(in srgb, var(--backgroundAltColor) 50%, transparent);
        }
        @include medium-large {
            .chart-row-content {
                background-color: color-mix(in srgb, var(--backgroundAltColor) 50%, transparent);
            }
        }
    }
}

.chart-row {
    position: relative;
    --rowPadding: var(--halfSpacing);
    // &-grouped {
    //     background: #ffffff11;
    // }
    &-depth-0 {
    }
    &-expanded,
    &-depth-1,
    &-depth-2,
    &-depth-3 {
        background: #ffffff18;
    }
    .chart-row-index {
        display: none;
    }
    &-overall {
        // background: #ffffff22;
    }
    &:hover {
        background: #ffffff33;
    }
    &.chart-row-highlighted {
        background: #ffffff33;
    }
}

.chart-row-content {
    padding: var(--rowPadding) 0;
    @include medium-large {
        position: relative;
    }
    // height: calc(var(--barHeight) + var(--spacing));
    // height: var(--barHeight);
}

.chart-bar {
    position: relative;
    height: var(--barHeight);
    left: calc(var(--rowOffset) * -1px);
}

.chart-row-left {
    grid-area: heading;
    display: flex;
    height: 100%;
    @include small {
        align-items: center;
        gap: var(--halfSpacing);
        .chart-row-index {
            order: 2;
            &::before {
                content: '#';
            }
        }
    }
    @include medium-large {
        // justify-content: space-between;
        align-items: center;
        gap: var(--spacing);
    }
}
.chart-row-index {
    color: var(--textAltColor);
    opacity: 0.7;
    font-size: 1.1rem;
    @include small {
        font-size: 0.9rem;
    }
    .chart-sort-options & {
        display: none;
    }
}
.chart-row-content {
    grid-area: content;
    @include small {
        padding: 0;
    }
}
.chart-row-right {
    grid-area: metadata;
    display: flex;
    align-items: center;
    gap: var(--spacing);
    @include small {
        justify-content: flex-end;
        padding-right: var(--quarterSpacing);
    }
}

.chart-row-heading-label {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 5px;
}

.chart-row-heading {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: var(--halfSpacing);
}
.chart-row-heading-section {
    font-size: 0.8rem;
    color: var(--textAltColor);
    display: none;
    font-weight: normal;
    // todo: don't rely on magic value
    margin-top: -27px;
    .tabs-wrapper-all_features &,
    .tabs-wrapper-all_libraries & {
        // only show on these two charts
        display: block;
    }
}
.chart-row-heading-content {
    margin: 0;
    font-size: var(--chartFontColumnHeading);
    height: var(--barHeight);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 0.9rem;
    font-weight: normal;
    gap: 10px;
    max-width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.chart-row-heading-grouped {
    opacity: 0.5;
}

.chart-row-gridlines {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.chart-row-gridlines-item {
    position: absolute;
    left: var(--xOffset);
    top: 0px;
    bottom: 0px;
    width: 1px;
    border-right: 1px dotted var(--borderAltColor);
}

.chart-depth-indicator {
    --gap: 20px;
    --lineWidth: 1px;
    position: relative;
    height: 100%;
    // note: should be --totalDepth but that does not work yet
    width: calc(var(--depth) * var(--gap));
}
.chart-depth-vertical {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    gap: 10px;
    .chart-depth-segment {
        position: absolute;
        top: 0;
        bottom: 0;
        left: calc(var(--depth) * var(--gap));
        width: var(--lineWidth);
        background: white;
        .chart-row-lastChild & {
        }
    }
}

/* if a row is collapsed, always hide its last segment */
.chart-row-collapsed .chart-depth-segment:last-of-type {
    visibility: hidden;
}

/* if a row is expanded, its edge segment should be half top */
.chart-row-expanded .chart-depth-segment:last-of-type {
    top: 50%;
    bottom: 0;
}

/* if a row is the last child, its second-to-last segment should be half top */
.chart-row-lastChild .chart-depth-segment:nth-last-child(2) {
    top: 0;
    bottom: 50%;
}

/* 

if a row is the last child at depth = 1, subsequent nodes at deeper levels 
should hide their first vertical segment

*/
.chart-row-lastChild.chart-row-depth-1 {
    & ~ .chart-row-depth-2,
    & ~ .chart-row-depth-3 {
        .chart-depth-vertical .chart-depth-segment:nth-child(1) {
            visibility: hidden;
        }
    }
}

/* 

if a row is the last child at depth = 2, subsequent nodes at deeper levels 
should hide their first and second vertical segments

*/
.chart-row-lastChild.chart-row-depth-2 {
    & ~ .chart-row-depth-3 {
        .chart-depth-vertical .chart-depth-segment:nth-child(1),
        .chart-depth-vertical .chart-depth-segment:nth-child(2) {
            visibility: hidden;
        }
    }
}

.chart-depth-horizontal {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    // alternate position
    // justify-content: flex-start;
    &-inner {
        width: 25%;
        display: flex;
        align-items: center;
    }

    .chart-depth-line {
        height: var(--lineWidth);
        width: var(--gap);
        background: white;
        // alternate position
        // position: absolute;
        // left: calc(calc(var(--depth) - 1) * var(--gap));
    }
}

.chart-depth-node {
    border-radius: 100%;
    height: 8px;
    width: 8px;
    background: var(--backgroundColor);
    position: absolute;
    // right: -5px;
    border: var(--lineWidth) solid white;
    // position: relative;
    // z-index: 10;
    transform: translateX(50%);
    // alternate position
    // transform: translateX(-50%);
    // left: calc(var(--depth) * var(--gap));
}
.chart-depth-node-button {
    height: 28px;
    width: 28px;
    padding: 0;
    font-size: 0.8rem;
    // background: ;
}
