.chart-depth-indicator {
    --gap: 20px;
    --lineWidth: 1px;
    --lineColor: #ffffff66;
    position: relative;
    height: 100%;
    // note: should be --totalDepth but that does not work yet
    width: calc(var(--depth) * var(--gap));
}
.chart-depth-vertical {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    gap: 10px;
    .chart-depth-segment {
        position: absolute;
        top: 0;
        bottom: 0;
        left: calc(var(--depth) * var(--gap));
        width: var(--lineWidth);
        background: var(--lineColor);
        .chart-row-lastChild & {
        }
    }
}

/* if a row is collapsed, always hide its last segment */
.chart-row-collapsed .chart-depth-segment:last-of-type {
    visibility: hidden;
}

/* if a row is expanded, its edge segment should be half top */
.chart-row-expanded .chart-depth-segment:last-of-type {
    top: 50%;
    bottom: 0;
}

/* if a row is the last child, its second-to-last segment should be half top */
.chart-row-lastChild .chart-depth-segment:nth-last-child(2) {
    top: 0;
    bottom: 50%;
}

/* 

if a row is the last child at depth = 1, subsequent nodes at deeper levels 
should hide their first vertical segment

*/
.chart-row-lastChild.chart-row-depth-1 {
    & ~ .chart-row-depth-2,
    & ~ .chart-row-depth-3 {
        .chart-depth-vertical .chart-depth-segment:nth-child(1) {
            visibility: hidden;
        }
    }
}

/* 

if a row is the last child at depth = 2, subsequent nodes at deeper levels 
should hide their first and second vertical segments

*/
.chart-row-lastChild.chart-row-depth-2 {
    & ~ .chart-row-depth-3 {
        .chart-depth-vertical .chart-depth-segment:nth-child(1),
        .chart-depth-vertical .chart-depth-segment:nth-child(2) {
            visibility: hidden;
        }
    }
}

.chart-depth-horizontal {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    // alternate position
    // justify-content: flex-start;
    &-inner {
        width: 25%;
        display: flex;
        align-items: center;
    }

    .chart-depth-line {
        height: var(--lineWidth);
        width: var(--gap);
        background: var(--lineColor);
        // alternate position
        // position: absolute;
        // left: calc(calc(var(--depth) - 1) * var(--gap));
    }
}

.chart-depth-node {
    // border-radius: 100%;
    height: 8px;
    width: 8px;
    background: var(--backgroundColor);
    // background: none;
    position: absolute;
    // right: -5px;
    border: var(--lineWidth) solid var(--lineColor);
    // position: relative;
    // z-index: 10;
    transform: translateX(50%);
    // alternate position
    // transform: translateX(-50%);
    // left: calc(var(--depth) * var(--gap));
}

.chart-depth-placeholder {
    // even without width this will still create a flexbox gap of --spacing
    width: 0px;
}
.chart-depth-node-empty {
    display: none;
}

.chart-depth-node-button {
    display: block;
    height: 16px;
    width: 16px;
    padding: 0;
    font-size: 0.8rem;
    border: 0;
    border-radius: 3px;
    background: var(--backgroundColor);
    border: var(--lineWidth) solid var(--lineColor);
    .icon-wrapper,
    svg {
        height: 100% !important;
        width: 100% !important;
        display: block;
        // stroke: var(--lineColor);
    }
    // background: ;
}
