.figure-block {
    display: flex;
    gap: var(--doubleSpacing);
    align-items: center;
    margin-bottom: calc(var(--spacing) * 4);
}
.figure-block-number {
    font-size: 5rem;
}

.figure-block-text {
    border-left: 1px solid var(--textColor);
    padding-left: var(--doubleSpacing);
    font-size: 1.5rem;
    opacity: 0.7;
}
