.boxplot-tooltip-wrapper {
    display: flex;
}

.boxplot-tooltip-content {
    background: var(--backgroundColor);
    font-size: var(--fontSizeSmall);
    padding: calc(var(--spacing) * 0.3) calc(var(--spacing) * 0.6);
    border: 1px solid var(--borderColor);
    z-index: 10000;
    width: min-content;
    white-space: nowrap;
    p:last-child {
        margin: 0;
    }
    // see https://www.joshwcomeau.com/css/designing-shadows/
    /* filter: drop-shadow(1px 2px 8px hsl(220deg 60% 50% / 0.3))
    drop-shadow(2px 4px 16px hsl(220deg 60% 50% / 0.3))
    drop-shadow(4px 8px 32px hsl(220deg 60% 50% / 0.3)); */
}
