.chart-freeform-answers {
    span {
        display: flex;
        align-items: center;
        gap: 5px;
    }
}
.chart-freeform-answers-heading {
    div {
        display: inline;
    }
}

.freeform-answers-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: var(--spacing);
}

.keyword-filter {
    // display: flex;
    align-items: center;
    gap: var(--quarterSpacing);
    h4 {
        margin: 0;
    }
}

.keyword-frequencies {
    display: flex;
    flex-wrap: wrap;
    gap: var(--halfSpacing);
}
