---
// client-side redirect
import getQuery from '@data/query'
import { getMeta } from '@helpers/meta'
import { getData } from '@helpers/data'
const data = await getData()
const { surveys, locales } = data
const survey = surveys.find(s => s?.slug === import.meta.env.SURVEY)
const lastEdition = survey.editions.sort((e1, e2) => e2.year - e1.year)[0]
const { faviconUrl } = lastEdition

const locale = locales.find(l => l.id === 'en-US')
const meta = getMeta({ survey, locale })

// server-side redirect
// return Astro.redirect('/en-US');
---

<html>

<head>
  <link rel="icon" type="image/x-icon" href={faviconUrl} />
  <meta http-equiv="refresh" content={ `0; url=/en-US` } />
  {meta.map((tag) =>
  <meta {...tag} />)}
</head>

<body>
  Redirecting…
</body>

</html>