APP_NAME="charts"
# remote API
API_URL=https://api.devographics.com/graphql
# local API
# API_URL=http://localhost:4030/graphql

PORT=4444
APP_URL=http://localhost:4444
# Value for production
# APP_URL=https://share.devographics.com

# Redis

# if needed, ask on Discord https://discord.gg/zRDb35jfrt
REDIS_UPSTASH_URL=https://xxx.upstash.io
# Local setup with Docker (see root docker-compose and Justfile)
# REDIS_UPSTASH_URL=http://localhost:8080

# If connecting to the remote Upstash instance, you need to change this value
# If using the local setup, this value is actually important
# (it must match the token used when running your local Redis HTTP proxy, see Docker Compose setting)
REDIS_TOKEN=fake-dev-token