@use 'sass:math';

.debug-database,
.admin-content {
  background: $white;
  padding: $spacing;
  color: $text-color-inverted;
  h3 {
    color: $text-color-inverted;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: $spacing;
    .dropdown {
      display: inline-block;
    }
  }
}

.normalization-actions {
  display: flex;
  justify-content: space-between;
  font-size: $large-font;
  margin-bottom: $spacing;
  .primary,
  .secondary {
    display: flex;
    align-items: center;
    gap: $spacing;
  }
}

.normalization-progress {
  padding: $spacing;
  border: 1px solid grey;
  background: #cccccc;
  margin: $spacing 0;
}

.normalization-options {
  display: flex;
  flex-direction: column;
  gap: $spacing/2;
}

.admin-script {
  display: flex;
  gap: math.div($spacing, 2);
  align-items: center;
}


.admin-args {
  display: flex;
  gap: math.div($spacing, 2);
  align-items: center;
  label {
    display: flex;
    flex-direction: column;
    font-size: $small-font;
  }
  input {
    width: 100px;
  }
}

.admin-content {
  pre {
    border: 1px solid $border-color;
    padding: $spacing;
    background: #efefef;
  }
  code {
    background: #efefef;
    color: $text-color-inverted-light;
  }
}