@use "sass:math";

.normalization-actions {
  // display: flex;
  // justify-content: space-between;
  margin-bottom: $spacing;
  .primary,
  .secondary {
    display: flex;
    align-items: center;
    gap: $spacing;
  }
}

.normalize-responses {
  display: flex;
  align-items: center;
  gap: $spacing;
}

.normalization-progress {
  // padding: $spacing;
  // border: 1px solid grey;
  // background: #cccccc;
  // margin: $spacing 0;
}

.normalization-options {
  display: flex;
  flex-direction: column;
  gap: $spacing/2;
}

.admin-scripts-table {
  &,
  tr {
    border: 1px solid $border-color;
  }
  font-size: $smallish-font;
  th {
    background: $bg-color-lightest;
  }
  td,
  th {
    padding: 10px;
  }
}

.admin-args {
  display: flex;
  gap: math.div($spacing, 2);
  align-items: center;
  label {
    display: flex;
    flex-direction: column;
    font-size: $small-font;
  }
  input {
    width: 100px;
  }
}

.admin-script-result {
  pre {
    max-width: 800px;
    max-height: 400px;
  }
  textarea {
    width: 100%;
    height: 400px;
  }
}

.api-dashboard,
.cache-dashboard {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: $spacing;
}

.manualinput-presets {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
.manualinput-form {
  display: flex;
  gap: 10px;
  button {
    flex-basis: 200px;
  }
}

code {
  .highlighted {
    background: var(--mark-background-color);
  }
}
