@use "pico";

// @use "pico" with (
//   $theme-color: "yellow"
// );

// @import "water.scss";
@use "colors.scss";
@use "variables.scss";
@use "typography.scss";
@use "breakpoints.scss";
@use "admin.scss";
// @import "pico.scss";

body {
  padding: 20px;
  font-size: typography.$root-size;
}
:root {
  --pico-font-size: $root-size;
  // --primary: #d81b60;
}
