.chart-column {
    .chart-bar,
    .chart-faceted-bar {
        position: relative;
        height: 100%;
        background: #ffffff33;
    }
}
.vertical-chart-cell {
    position: absolute;
    background: linear-gradient(to top, var(--color1), var(--color2));
    width: 100%;
    height: calc(var(--height) * 1%);
    bottom: calc(var(--offset) * 1%);
}
