@use "colors";
@use "variables";

.debug-database,
.admin-content {
  background: colors.$white;
  padding: variables.$spacing;
  color: colors.$text-color-inverted;
  h3 {
    color: colors.$text-color-inverted;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: variables.$spacing;
    .dropdown {
      display: inline-block;
    }
  }
}