@use "breakpoints";
@use "colors";
@use "typography";
@use "variables";

.devographics-banner {
  background: colors.$tealDarker;
  background: linear-gradient(0deg, #594ab0 0%, #51b1da 100%);
  position: relative;
  padding: variables.$spacing-half;
}

.devographics-banner-inner {
  text-align: center;
  font-size: typography.$small-font;
  color: colors.$greyLightest;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.4);
  a {
    color: colors.$greyLightest;
    text-decoration: underline;
  }
  @include breakpoints.small {
    padding-right: 40px;
  }
}

.devographics-banner-close {
  width: 40px;
  display: grid;
  place-items: center;
  cursor: pointer;
  font-size: typography.$larger-font;
  position: absolute;
  right: 10px;
  top: 0px;
  bottom: 0px;
  &:hover {
    text-shadow: 0px 0px 4px rgba(255, 255, 255, 0.55);
  }
}
.devographics-banner-close-inner {
}
