@use "breakpoints";
@use "typography";
@use "variables";

@use 'sass:math';
.survey-credits {
}

.survey-credits-items {
  column-gap: variables.$spacing * 2;
  row-gap: variables.$spacing * 2;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  @include breakpoints.small {
    grid-template-columns: repeat(1, 1fr);
  }
}
.survey-credits-item {
  display: flex;
}
.survey-credits-item-avatar {
  margin-right: math.div(variables.$spacing, 2);
  overflow: hidden;
  border-radius: 100%;
  height: 60px;
  width: 60px;
  img {
    display: block;
    height: 100%;
    width: 100%;
  }
}
.survey-credits-item-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.survey-credits-item-name {
  font-size: typography.$large-font;
  margin-bottom: 3px;
}
.survey-credits-item-company {
  margin-bottom: 0;
  font-size: typography.$smallish-font;
  a {
    font-weight: typography.$medium;
  }
}
.survey-credits-item-twitter {
  margin-bottom: 0;
  font-size: typography.$small-font;
}
.survey-credits-item-role {
  font-size: typography.$small-font;
  margin-bottom: 0;
}
