.defaulterror {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  margin: 32px 64px;
  .buttonsWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    & button {
      margin: 16px;
    }
  }
}
