@use "breakpoints";
@use "typography";
@use "variables";

.faq-contents {
  @include breakpoints.medium-large {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: variables.$spacing * 2;
    row-gap: variables.$spacing * 2;
  }
}
.faq-item {
  margin: 0;
  background: none;
  border: none;
  @include breakpoints.small {
    margin-bottom: variables.$spacing;
  }
}
.faq-item-heading {
  .accordion-button {
    background: none;
    border: none;
    text-align: left;
    padding: 0;
    color: var(--text-color);
    @include typography.font-bold;
    color: var(--link-color);
    &:hover {
      color: var(--hover-color);
      text-decoration: underline;
    }
    &:after {
      display: none;
    }
  }
}
.faq-item-body {
  font-size: typography.$smallish-font;
  padding: 0;
  margin: 0;
  p {
    margin: 0;
  }
}
