@use "sass:math";
.survey-section {
  // .form-control {
  //   background: $bg-color-lightest;
  // }
  .form-item {
    position: relative;

    margin-bottom: $spacing;
    &:focus-within {
      border-color: var(--link-color);
      // background: $greyDarkish;
    }
    @include small {
      margin-bottom: $spacing * 2;
    }
    @include medium {
      @include border;
      padding: math.div($spacing, 2) math.div($spacing, 2) $spacing
        math.div($spacing, 2);
    }
    @include large {
      @include border;
      padding: $spacing $spacing $spacing * 2.5 $spacing;
      &.form-item-skipped {
        padding: $spacing;
      }
    }
  }
  .form-item:has(.form-help) {
    background: var(--bg-color-light);
    border: 0;
    @include small-medium {
      padding: math.div($spacing, 2);
    }
    @include large {
      padding: $spacing;
    }
    :last-child {
      margin: 0;
    }
  }
  .form-label-legend {
    margin: 0;
  }
  .form-label-heading {
    margin-bottom: math.div($spacing, 2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    .question-label {
      strong {
        text-decoration: underline;
      }
    }
  }
  .form-label {
    margin: 0;
    @include small-medium {
      font-size: $large-font;
    }
    @include large {
      font-size: $largeish-font;
    }
    @include font-bold;
    display: flex;
    align-items: center;
    line-height: 1.7;
    code {
      font-size: $medium-font;
    }
    .entity-label {
      // white-space: nowrap;
    }
    .question-label-new {
      text-transform: uppercase;
      background: $active-color-dark;
      color: $text-color-inverted;
      padding: 1px 5px;
      margin-left: math.div($spacing, 2);
      font-size: $smaller-font;
      // @include font-regular;
    }
    &-number {
      opacity: 0.3;
      margin-right: 8px;
      @include font-regular;
      font-size: $medium-font;
    }
  }
  .form-check {
    display: flex;
    justify-content: space-between;
    align-items: center;
    label {
      display: flex;
      // align-items: center;
    }
    padding: 0 math.div($spacing, 2);
    &:last-of-type {
      margin: 0;
    }
    .form-check-input {
      float: none;
      margin: 0;
    }
    &:nth-child(2n) {
      background: rgba(255, 255, 255, 0.04);
    }
    &:hover {
      background: $bg-color-light;
    }
  }
  .form-component-text {
    input {
      resize: vertical;
    }
  }
  .form-component-radiogroup {
    .form-check-checked {
    }
    .form-check-unchecked {
      // opacity: 0.3;
    }
  }
  .form-input-wrapper {
    margin: 7px math.div($spacing, 1.5) 0 0;
    position: relative;
    display: block;
  }
  .form-check-label {
    flex: 1;
    padding: math.div($spacing, 2) 0;
  }
  // .form-item-contents {
  //   display: flex;
  //   flex-direction: column;
  // }
  .form-item-input {
    textarea,
    input[type="text"],
    select {
      background-color: $greyLightest;
      color: $greyDarker;
    }
    textarea,
    input[type="text"] {
      &:disabled {
        background: $greyMedium;
      }
    }
  }
  .form-submit-actions {
    display: flex;
    justify-content: space-between;
    .prev-placeholder,
    .form-btn {
      @include small-medium {
        flex-basis: 49%;
      }
      @include large {
        flex-basis: 35%;
      }
      button {
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
    div:first-child,
    button:first-child {
      // margin-right: $spacing;
    }
    .form-btn-prev,
    .form-btn-previous,
    .prev-placeholder {
      order: 1;
    }
    .form-btn-next {
      order: 2;
    }
  }

  .form-submit-help {
    margin-top: $spacing;
    text-align: center;
    font-size: $small-font;
  }

  .form-component-clear {
    @include flex-center;
    height: 30px;
    width: 30px;
    @include border;
    background: transparent;
    top: 0;
    right: 0;
    border-radius: 0 0 0 3px;
    span {
      font-size: $medium-font;
    }
  }
}

.form-submit-back {
  margin-bottom: $spacing;
}

.input-css2020__user_info__skin_tone {
  .form-check {
    margin-bottom: 5px;
    label {
      font-size: $largest-font;
      background: $white;
      flex: 0;
      padding: 3px;
      @include border-radius;
      @include emoji-font;
    }
    img {
      height: 32px;
      width: 32px;
    }
  }
}

.rbt-token {
  background-color: $grey;
  color: $greyDarker;
}

.rbt-menu {
  a {
    &,
    &:link,
    &:visited {
      color: $text-color-inverted;
    }
    &:hover {
      background: $bg-color-lightest;
    }
  }
}

.rbt-input {
  resize: vertical;
}

.form-floating > label {
  color: var(--text-color-inverted);
}

.magic-error,
.magic-success {
  padding: $spacing/2;
  font-size: $smallish-font;
  margin-top: $spacing;
}
.magic-error {
  border: 3px solid $red;
}

.magic-success {
  border: 3px solid $green;
}

.form-note {
  // background: var(--bg-color-light);
  // padding: $spacing/2;
  margin-top: $spacing/2;
  display: block;
  color: var(--text-color-dark);
  font-size: $small-font;
  p:last-child {
    margin: 0;
  }
}

.form-help {
  p:last-child {
    margin: 0;
  }
}

.form-race-ethnicity-not-allowed {
  padding: $spacing/1.5;
  background: $redTransparent;
  margin-bottom: $spacing;
  p {
    margin: 0;
  }
}

.code-example {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  padding: $spacing * 1.5 $spacing;
  // margin-top: $spacing;
  margin-bottom: $spacing;
  position: relative;
  // background: $bg-color-light;

  pre {
    background: none;
    margin-bottom: 0;
    tab-size: 2;
  }

  &-heading {
    background: rgba(255, 255, 255, 0.15);
    border-radius: 0px 10px 0px 3px;
    padding: 3px 8px;
    position: absolute;
    right: 0px;
    top: 0px;
    margin: 0 0 math.div($spacing, 3) 0;
    opacity: 0.7;
    text-transform: uppercase;
    font-size: $small-font;
    // border-bottom: 1px solid rgba(255, 255, 255, 0.25);
    // padding: $spacing/2 $spacing/3;
  }
}

.form-item-description {
  margin-bottom: $spacing;
  color: var(--text-color);
  font-size: $medium-font;
  p:last-child {
    margin: 0;
  }
}

.form-item-limit {
  margin-bottom: $spacing;
  font-size: $smallish-font;
  color: var(--text-color-dark);
}

.form-slider {
  padding: $spacing 0 $spacing * 2 0;
  &-options {
    display: grid;
    grid-auto-columns: minmax(0, 1fr);
    grid-auto-flow: column;
    column-gap: 2px;
  }
  .form-check {
    background: $bg-color-light;
    padding: math.div($spacing, 2);
    position: relative;
    margin: 0;
    & > label {
      position: static;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 0;
      &:hover {
        background: none;
      }
    }
    .form-input-wrapper {
      margin: 0;
      display: block;
      line-height: 0;
    }
    .form-option {
      padding: 0;
      position: absolute;
      top: calc(100% + 5px);
      text-align: center;
      // display: none;
    }
    &:hover {
      background: $bg-color-lighter;
    }
    &:nth-child(1),
    &:nth-child(9) {
      background: rgba(255, 255, 255, 0.05);
    }
    &:nth-child(2),
    &:nth-child(8) {
      background: rgba(255, 255, 255, 0.1);
    }
    &:nth-child(3),
    &:nth-child(7) {
      background: rgba(255, 255, 255, 0.15);
    }
    &:nth-child(4),
    &:nth-child(6) {
      background: rgba(255, 255, 255, 0.2);
    }
    &:nth-child(5) {
      background: rgba(255, 255, 255, 0.35);
    }
    &:first-child {
      label {
        text-align: left;
        left: 0px;
      }
    }
    &:last-child {
      label {
        text-align: right;
        right: 0px;
      }
    }
  }
}

.experience-contents {
  @include medium-large {
    // display: grid;
    // grid-template-columns: 1fr min-content;
  }
}
.comment-trigger-wrapper {
  @include medium-large {
    // display: flex;
    // flex-direction: column;
    // justify-content: flex-end;
  }
}
.comment-trigger {
  // position: absolute;
  // bottom: 0px;
  // right: 0px;
  // border-top: 1px solid var(--dark-border-color);
  // border-left: 1px solid var(--dark-border-color);
  padding: math.div($spacing, 2);
  // display: grid;
  // place-items: center;
  // aspect-ratio: 1/1;
  background: none;
  border: none;
  margin: 0;
  color: $text-color;
  &-inactive {
    svg {
      opacity: 0.5;
    }
  }
  &-active {
  }
  svg {
    display: block;
    color: inherit;
  }
}

.comment-input {
  position: relative;
  margin-top: math.div($spacing, 2);
  background: $bg-color-light;
  padding: $spacing;
  // border-radius: 5px;
  &-heading {
    margin-bottom: math.div($spacing, 2);
    font-size: $medium-font;
  }
  &-subheading {
    margin-bottom: $spacing;
    font-size: $smallish-font;
  }
  &::after {
    bottom: 100%;
    left: 21px;
    // @include medium-large {
    //   right: 11px;
    // }
    border: solid transparent;
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(102, 213, 47, 0);
    border-bottom-color: $bg-color-light;
    border-width: 12px;
    margin-left: -12px;
  }
}

.form-item:empty {
  display: none;
}

.form-option {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
}
.form-option-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.form-option-label {
  display: block;
  font-size: $medium-font;
  display: flex;
  align-items: center;
  gap: $spacing/2;
}

.form-option-description {
  display: block;
  font-size: $smallish-font;
  color: var(--text-color-dark);

  code {
    padding: 0.05em 0.3em 0.1em;
    background: transparentize($bg-color-light, 0.6);
  }
}

.form-show-more {
  margin-top: $spacing;
  @include small {
    width: 100%;
  }
}

.form-messages {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000000;
}
.form-message {
  background: none;
  backdrop-filter: blur(6px);
  &:not(:last-child) {
    margin-bottom: $spacing/2;
  }
}
.form-message-error {
  .toast-header {
    background: rgba(211, 65, 65, 0.3);
    color: rgba(253, 232, 232, 0.9);
  }
  .toast-body {
    background: rgba(255, 93, 93, 0.3);
    color: rgba(253, 232, 232, 0.9);
  }
}

.form-message-success {
  .toast-header {
    background: rgba(65, 211, 138, 0.3);
    color: rgba(232, 253, 237, 0.9);
  }
  .toast-body {
    background: rgba(123, 250, 157, 0.3);
    color: rgba(232, 253, 237, 0.9);
  }
}
.form-message-debug-link {
  margin-top: $spacing/2;
  display: flex;
  align-items: center;
  gap: $spacing/4;
  svg {
    height: 16px;
    width: 16px;
  }
}

.followups {
  margin: $spacing/2;
  // background: var(--bg-color-light);
  padding: $spacing;
  font-size: $medium-font;
  border-radius: $border-radius;
  @include border;
  position: relative;
  &:after,
  &:before {
    bottom: 100%;
    right: 50px;
    border: solid transparent;
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }

  &:after {
    border-color: rgba(136, 183, 213, 0);
    border-bottom-color: var(--bg-color);
    border-width: 10px;
  }
  &:before {
    border-color: rgba(194, 225, 245, 0);
    border-bottom-color: var(--border-color);
    border-width: 11px;
  }

  h5 {
    font-size: $medium-font;
    margin-bottom: $spacing;
    @include font-regular;
  }
  .form-check-input {
    margin: 0;
  }
  &-predefined {
    display: flex;
    flex-wrap: wrap;
    gap: $spacing/2;
    margin-bottom: $spacing;
    &-item {
    }
    &-label {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: $spacing/2;
    }
  }
}

.option-chip {
  --_color: var(--color, var(--bs-blue));
  // border: 1px solid hsl(0 0% 100% / 0.3);
  padding: 0.1em 0.6em 0.05em 0.6em;
  border-radius: 3px;
  background: color-mix(
      in lab,
      var(--_color),
      transparent calc((1 - var(--a, 0.2)) * 100%)
    )
    linear-gradient(hsl(0 0% 100% / 0.1), transparent) border-box;
  color: white;
  // white-space: nowrap;
}

.option-main {
  &-never_heard {
    --color: rgba(255, 255, 255, 0.1);
    background: none;
    border: none;
    padding: 0;
  }
  &-heard {
    --color: rgba(255, 255, 255, 0.6);
  }
  &-used {
    --color: rgba(255, 255, 255, 0.6);
  }
}

.option-separator {
  &::after {
    content: " > ";
    display: inline-block;
  }
}

.option-positive {
  --color: var(--bs-success);
}

.option-negative {
  --color: var(--bs-danger);
}

.skip-question {
  @include small {
    margin-top: $spacing;
    display: flex;
    justify-content: flex-end;
  }
  @include medium-large {
    position: absolute;
    bottom: -1px;
    right: -1px;
  }
  .btn {
    @include small {
      border-radius: 3px;
    }
    @include medium-large {
      border-radius: 3px 0 0 0;
    }
    display: flex !important;

    justify-content: center;
    align-items: center;
    gap: 5px;
    background: var(--bg-color) !important;
  }
  .icon-wrapper svg {
    height: 18px;
    width: 18px;
  }
}

.form-item-contents {
  display: grid;
  transition: grid-template-rows 0.3s ease-out;
  grid-template-rows: 1fr;
}
.form-item-contents-inner {
  // use overflow: clip instead of overflow: hidden because
  // it doesn't interfere with position: sticky
  // https://stackoverflow.com/a/74462258
  overflow: clip;
  // needed to prevent grid blowout
  // see https://stackoverflow.com/a/43312314/649299
  min-width: 0;
}
.form-item-skipped {
  border-color: var(--darker-border-color) !important;
  .form-label-heading {
    text-decoration: line-through;
    color: var(--text-color-darker);
    margin: 0;
  }
  .form-item-contents {
    // height: 0px !important;
    // overflow: hidden;
    grid-template-rows: 0fr;
  }
}

.form-input-moreThanOneYear {
  .form-check-label {
    gap: $spacing/2;
  }
  input[type="number"] {
    width: 100px;
  }
}

.likert {
  .form-item-input {
    display: flex;
    flex-direction: column;
    gap: $spacing/2;
    @include small {
      position: relative;
    }
  }
  .form-check {
    &:hover,
    &:nth-child(2n) {
      background: none;
    }
  }
}

.likert-row {
  // display: grid;
  // grid-template-columns: 1fr 1fr;
  display: flex;
  padding: $spacing/2;
  &:nth-child(2n) {
    background: rgba(255, 255, 255, 0.04);
  }
  @include small {
    flex-direction: column;
  }
  @include medium-large {
    justify-content: space-between;
    align-items: center;
    gap: $spacing;
  }
}
.likert-options,
.likert-legends {
  display: flex;
  gap: $spacing/2;
  @include small {
    justify-content: space-between;
    padding: 0 $spacing * 1;
  }
  @include medium-large {
    margin-right: $spacing * 2;
  }
}

.survey-section {
  .likert-option {
    display: grid;
    place-items: center;
    padding: 0;
    .form-check-label {
      @include small {
        padding: $spacing/3 $spacing/4;
      }
      @include medium-large {
        padding: $spacing/3;
      }
      display: block;
    }
    .form-input-wrapper {
      margin: 0;
      display: block;
      line-height: 0;
    }
  }
}
.likert-legends {
  height: 100%;
  @include medium-large {
    justify-content: flex-end;
  }
}
.likert-legends-wrapper {
  height: 110px;
  padding: 0 $spacing/2;
  @include small {
    padding-bottom: 5px;
    position: sticky;
    top: 0px;
    width: 100%;
    background: var(--bg-color-light);
    z-index: 1;
  }
}

.likert-legend-label {
  position: relative;
  width: 48px;
  span {
    rotate: -45deg;
    transform-origin: bottom left;
    white-space: nowrap;
    bottom: 0px;
    left: calc(50% + 5px);
    position: absolute;
    font-size: 0.9rem;
  }
}

.form-input-number {
  max-width: 100px;
}

.invalid-feedback {
  color: var(--text-color-error);
  .form-item-invalid & {
    display: block;
  }
}
