@use "typography";
@use "variables";

.score {
  margin-bottom: variables.$spacing * 2;
  text-align: center;
  border: 1px solid transparent;

  @include variables.border-radius;
  position: relative;
  --used-color: var(--accent-color);
  --heard-color: var(--accent-color-2);
  background-image: linear-gradient(to right, var(--used-color) calc(var(--usage-ratio) * 100%), var(--heard-color) 0);
  background-origin: border-box;

  .used {
    --color: var(--used-color);
  }

  .heard {
    --color: var(--heard-color);
  }


}

.score-calculation {
  padding: variables.$spacing * 2;
  background: var(--bg-color);
}

.score-calcuation-heading {
  font-size: typography.$largest-font;
  // text-transform: uppercase;
}

.score-percent {
  // Note: Do NOT apply position to this element, it breaks the confetti
  font-size: 6rem;
  line-height: 1;
  margin-bottom: variables.$spacing;

  .score-suffix {
    font-size: 1rem;
    position: absolute;
    transform: translateY(4.1rem);
  }
}

.score-ratio {
  font-size: typography.$large-font;
}

.score-number {
  @include typography.font-bold;
  color: var(--color);
}

.score-percentage[title] {
  cursor: help;
}

.score-confetti {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  pointer-events: none;
  overflow: hidden;
}
.score-share {
  @include variables.flex-center;
  margin-top: variables.$spacing * 2;
}

// features

.score-features {
  // display: grid;
  // grid-template-columns: 1fr 1fr 1fr;
  // column-gap: $spacing;
  // row-gap: $spacing;
  // display: none;
  margin-top: variables.$spacing * 2;
}
.score-features-heading {
  display: inline;
  margin-bottom: 0;
  font-size: typography.$smallish-font;
  @include typography.font-regular;
}
.score-features-items{
  display: inline;
}
.score-feature {
  display: inline;
  font-size: typography.$smallish-font;
}
