@use "colors";
@use "variables";

@use 'sass:math';
.ShareSite__Content {
  // border-top: $border;
  display: flex;
  justify-content: space-evenly;
  //   border-right: $border;
  position: relative;
  z-index: 1;
  margin-top: variables.$spacing;
  margin-bottom: variables.$spacing * 2;
}

.share__link {
  display: block;
  flex-shrink: 0;
  border: variables.$border;
  flex-grow: 1;
  text-align: center;
  padding: 22px math.div(variables.$spacing, 3);
  transition: none;
  margin-left: -1px;
  &:hover {
    background: colors.$bg-color-light;
  }
  &:first-child {
    margin: 0;
    border-radius: variables.$border-radius 0 0 variables.$border-radius;
  }
  &:last-child {
    border-radius: 0 variables.$border-radius variables.$border-radius 0;
    margin-right: 0;
  }
  svg {
    display: block;
    margin: 0 auto;
    height: 24px;
    width: 24px;
    // filter: drop-shadow(0px 2px 3px rgba($pink, 0.7));

    path,
    circle {
      fill: var(--text-color);
    }
  }
  &:hover {
    svg path,
    svg circle {
      fill: var(--link-color);
    }
  }
}
