.support {
}

.support-item {
  @include flex-center;
  margin-bottom: $spacing * 2;
  a {
    display: block;
    width: 100%;
    max-width: 350px;
  }
  img {
    display: block;
    width: 100%;
  }
}
