@use "variables";

.support {
}

.support-item {
  @include variables.flex-center;
  margin-bottom: variables.$spacing * 2;
  a {
    display: block;
    width: 100%;
    max-width: 350px;
  }
  img {
    display: block;
    width: 100%;
  }
}
