@use "sass:math";
// locale selector
.locale-selector {
  max-width: 600px;
  margin: 0 auto;
  margin-bottom: $spacing * 2;
  text-align: center;
  padding: $spacing;
  background: $bg-color-light;
  &-languages {
    @include font-regular;
    font-size: $small-font;
    margin-bottom: 5px;
  }
  &-item {
    // display: inline-block;
    // margin-left: 5px;
  }
  &-help {
    font-size: $small-font;
  }
}
// surveys page

.surveys-title {
  text-align: center;
  margin-bottom: $spacing;
}
.account,
.contents-narrow {
  max-width: 650px;
  margin: 0 auto;
  @include small {
    padding: 0 math.div($spacing, 2);
  }
}
.surveys {
}
.surveys-group {
  max-width: 300px;
  margin: 0 auto;
  margin-bottom: $spacing * 3;
}
.surveys-none {
  text-align: center;
  font-size: $medium-font;
}
.survey-item {
  margin-bottom: $spacing * 2;
}
.survey-link {
  position: relative;
  display: block;
  @include border;
  @include border-radius;
  &:hover {
    &,
    .survey-name span {
      border-color: $hover-color;
      background: $bg-color-light;
    }
  }
}
.survey-image-inner {
  padding: $spacing;
  width: 300px;
  max-height: 200px;
  & img {
    width: 90%;
    height: auto;
    margin: 0 auto;
  }
}
.survey-name {
  font-size: $large-font;
  position: absolute;
  bottom: 0;
  margin-left: 50%;
  transform: translateX(-50%) translateY(50%);
  z-index: 1;
  background: var(--bg-color);
  border-radius: 30px;
  margin-bottom: 0;
  span {
    padding: 5px 10px;
    @include border;
    border-radius: 30px;
    white-space: nowrap;
    font-size: $small-font;
  }
}
.survey-results {
  display: block;
  text-align: center;
  margin-bottom: $spacing * 1.5;
}
.surveys-group-heading {
  text-align: center;
}

// Survey Section
.survey-section {
  @include large {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 2fr 1fr;
    grid-template-areas:
      "heading heading"
      "contents sidebar";
    column-gap: $spacing;
  }
  @include xlarge {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas: "heading contents sidebar";
    column-gap: $spacing * 2;
  }
}
.section-heading {
  grid-area: heading;
}
.section-contents {
  grid-area: contents;
}
.section-sidebar {
  grid-area: sidebar;
}
.section-questions {
  max-width: 800px;
  margin: 0 auto;
  .form-component-clear {
    display: none;
  }
}
.form-section-nav {
  &-top {
    margin-bottom: $spacing;
  }
}
.section-heading {
  @include small {
    margin: $spacing * 2 0;
    padding: $spacing;
    background: var(--bg-color-light);
  }
  @include medium-large {
    margin-bottom: $spacing;
  }
}
.section-heading-contents {
  @include xlarge {
    text-align: right;
    position: sticky;
    top: $spacing * 2;
  }
}
.section-title {
  @include small-medium {
    font-size: $larger-font;
  }
  @include large {
    font-size: $largestest-font;
  }
  margin-bottom: math.div($spacing, 2);
  line-height: 1;
}
.section-title-pagenumber {
  @include font-regular;
  opacity: 0.4;
  display: none;
}
.section-description {
  font-size: $large-font;
  @include font-regular;
  line-height: 1.7;
  margin: 0;
}

.survey-message {
  padding: $spacing;
  margin-bottom: $spacing * 2;
  text-align: center;
  &.survey-closed,
  &.survey-error {
    background: $redTransparent;
  }
  &.survey-preview,
  &.survey-finished,
  &.survey-success {
    background: $greenTransparent;
  }
}
.login-error {
  text-align: left;
  margin-top: $spacing/2;
  margin-bottom: 0;
  padding: $spacing/2;
}

.survey-page-block {
  margin-bottom: $spacing * 3;
}

.survey-page-block-heading {
  margin-bottom: $spacing * 2;
  text-align: center;
}

.form-item-options {
  // display: grid;
  // grid-template-columns: 1fr 1fr;
  // gap: math.div($spacing, 2);
}
.form-section-message {
  background: var(--bg-color-light);
  padding: $spacing;
  margin-bottom: $spacing;
  background: $greenTransparent;
}

.response-details {
  margin-top: $spacing/2;
  font-size: $smallish-font;
  color: var(--text-color-dark);
  text-align: center;
  p {
    margin-bottom: $spacing/8;
  }
}
