@use "sass:math";
// locale selector
.locale-selector {
  max-width: 600px;
  margin: 0 auto;
  margin-bottom: $spacing * 2;
  text-align: center;
  padding: $spacing;
  background: $bg-color-light;
  &-languages {
    @include font-regular;
    font-size: $small-font;
    margin-bottom: 5px;
  }
  &-item {
    // display: inline-block;
    // margin-left: 5px;
  }
  &-help {
    font-size: $small-font;
  }
}
// surveys page

.surveys-title {
  text-align: center;
  margin-bottom: $spacing;
}
.account,
.contents-narrow {
  max-width: 650px;
  margin: 0 auto;
  @include small {
    padding: 0 math.div($spacing, 2);
  }
}
.surveys {
}
.surveys-group {
  max-width: 300px;
  margin: 0 auto;
  margin-bottom: $spacing * 3;
}
.surveys-none {
  text-align: center;
  font-size: $medium-font;
}
.survey-item {
  margin-bottom: $spacing * 2;
}
.survey-link {
  position: relative;
  display: block;
  @include border;
  @include border-radius;
  &:hover {
    &,
    .survey-name span {
      border-color: $hover-color;
      background: $bg-color-light;
    }
  }
}
.survey-image-inner {
  padding: $spacing;
  width: 300px;
  max-height: 200px;
  & img {
    width: 90%;
    height: auto;
    margin: 0 auto;
  }
}
.survey-name {
  position: absolute;
  bottom: 0;
  margin-left: 50%;
  transform: translateX(-50%) translateY(50%);
  z-index: 1;
  background: var(--bg-color);
  border-radius: 30px;
  span {
    padding: 5px 10px;
    @include border;
    border-radius: 30px;
    white-space: nowrap;
    font-size: $small-font;
  }
}
.survey-results {
  display: block;
  text-align: center;
  margin-bottom: $spacing * 1.5;
}
.surveys-group-heading {
  text-align: center;
}

// Survey Section
.survey-section {
  @include large {
    display: grid;
    grid-template-columns: 1fr 3fr;
    column-gap: $spacing * 2;
  }
  @include xlarge {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    column-gap: $spacing * 2;
  }
}
.section-contents {
}
.section-nav {
  // background: $bg-color-light;
  // padding: $spacing;
  @include large {
    max-width: 280px;
  }
  ul {
    list-style-type: none;
    padding: 0;
  }
  a {
    @include font-regular;
  }
  .active {
    @include font-bold;
    // color: $contrast-color;
  }
  li {
    font-size: $medium-font;
    margin-bottom: math.div($spacing, 4);
    &:last-child {
      margin: 0;
    }
  }
}
.section-nav-inner {
  position: relative;
}
.section-nav-loading {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: rgba(255, 255, 255, 0.2);
  display: grid;
  place-items: center;
  backdrop-filter: blur(5px);
}
.section-nav-heading {
  font-size: $large-font;
  margin-bottom: $spacing;
  @include small-medium {
    text-align: center;
  }
  @include large {
    border-bottom: $border;
    padding-bottom: $spacing;
  }
}
.section-nav-head {
  @include small-medium {
    @include flex-center;
    display: flex !important;
    margin-bottom: $spacing;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }
  @include large {
    display: none !important;
  }
}
.section-nav-head-left {
  display: flex !important;
  align-items: center;
  gap: 8px;
  line-height: 1;
}
.section-nav-toggle {
  font-size: $medium-font;
  @include large {
    display: none;
  }
}
.section-nav-hidden {
  .section-nav-contents {
    @include small-medium {
      display: none;
    }
  }
}
.section-nav-contents {
  @include small-medium {
    margin-top: -$spacing - 1px;
    @include border;
    @include border-radius;
    padding: $spacing;
    margin-bottom: $spacing;
  }
}
.section-nav-toc {
  font-size: $medium-font;
  margin: 0;
  @include small-medium {
    display: block;
  }
  @include large {
    display: none;
  }
}
.completion-message {
  font-size: $small-font;
  margin: $spacing 0 0 0;
}
.section-nav-completion,
.section-nav-item-completion {
  @include font-regular;
  @include primary-font;
  color: $text-color;
}
.section-questions {
  max-width: 800px;
  margin: 0 auto;
  .form-component-clear {
    display: none;
  }
}
.form-section-nav {
  &-top {
    margin-bottom: $spacing;
  }
}
.section-heading {
  @include small {
    margin: $spacing * 2 0;
    padding: $spacing;
    background: var(--bg-color-light);
  }
  @include medium-large {
    margin-bottom: $spacing * 2;
  }
}

.section-title {
  @include small-medium {
    font-size: $larger-font;
  }
  @include large {
    font-size: $largest-font;
  }
  margin-bottom: math.div($spacing, 2);
  line-height: 1;
}
.section-title-pagenumber {
  @include font-regular;
  opacity: 0.4;
  display: none;
}
.section-description {
  font-size: $large-font;
  @include font-regular;
  line-height: 1.7;
  margin: 0;
}

.survey-message {
  padding: $spacing;
  margin-bottom: $spacing * 2;
  &.survey-closed {
    background: $redTransparent;
  }
  &.survey-preview {
    background: $greenTransparent;
  }
}

.survey-page-block {
  margin-bottom: $spacing * 3;
}

.survey-page-block-heading {
  margin-bottom: $spacing * 2;
  text-align: center;
}

.form-item-options {
  // display: grid;
  // grid-template-columns: 1fr 1fr;
  // gap: math.div($spacing, 2);
}

.reading-list {
  position: sticky;
  top: $spacing;
  opacity: 0.3;
  transition: all 300ms ease-in;
  &:hover {
    opacity: 1;
  }
  &-title {
    margin-bottom: $spacing/3;
  }
  &-description {
    font-size: $smallish-font;
  }
  &-items {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  &-item {
    padding-top: $spacing/3;
    margin-top: $spacing/3;
    border-top: $border;
    font-size: $medium-font;
  }
}
@keyframes flash {
  0% {
    opacity: 0.8;
    background: rgba(255, 255, 255, 0.15);
  }
  100% {
    opacity: 0.3;
    background: rgba(255, 255, 255, 0);
  }
}
.reading-list-animate {
  animation: flash ease-in 0.5s;
}
.add-to-list {
  position: absolute;
  top: -1px;
  right: -1px;
  margin-left: $spacing/2;
  .btn {
    // border-radius: 100%;
    border-radius: 0 0 0 3px;
    aspect-ratio: 1/1;
    padding: 3px;
  }
  svg {
    height: 20px;
    width: 20px;
    display: block;
  }
}
