/*

These styles will only be active for specific surveys and/or editions

*/
.survey-tokyodev {
  .footer-top {
    .footer-link-item:last-of-type {
      display: none;
    }
  }
  .question-id-age {
    .form-input-lessThanOneYear {
      display: none;
    }
    .form-input-moreThanOneYear {
      .form-input-wrapper {
        display: none;
      }
    }
  }
}
