@use "breakpoints";
@use "typography";
@use "variables";

.translators {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  padding: variables.$spacing * 2;
  @include variables.border2;
  @include variables.border-radius;
  &-locales {
    @include breakpoints.large {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: variables.$spacing;
      row-gap: variables.$spacing;
    }
  }
  &-locale {
    @include breakpoints.small {
      margin-bottom: variables.$spacing-half;
    }
  }
  &-locale-heading {
    font-size: typography.$smallish-font;
    // margin-bottom: math.div($spacing,4);
    display: inline;
    &::after {
      content: ": ";
    }
  }
  &-locale-translators {
    display: inline;
  }
  &-locale-translator {
    font-size: typography.$smallish-font;
  }
}

.translators-help {
  text-align: center;
  margin-top: variables.$spacing * 2;
  font-size: typography.$medium-font;
}
