@import '../../stylesheets/_breakpoints.scss';

.filters-sections {
    display: flex;
    flex-direction: column;
    gap: var(--doubleSpacing);
}

.filters-section {
    // @include medium-large {
    //     display: grid;
    //     grid-template-columns: 1fr minmax(120px, min-content);
    //     // justify-content: space-between;
    //     gap: var(--doubleSpacing);
    // }
}

.filters-section-description {
    font-size: 0.9rem;
    margin-bottom: var(--spacing);
    // padding: var(--spacing);
}

.filters-section-image {
    @include small {
        display: none;
    }
    display: flex;
    flex-direction: column;
    gap: var(--halfSpacing);
    svg {
        opacity: 0.5;
        width: 100%;
        display: block;
    }
    figcaption {
        font-size: 0.7rem;
        color: var(--textAltColor);
        text-align: center;
    }
}
