@import '../../stylesheets/_breakpoints.scss';

.filters-sections {
    display: flex;
    flex-direction: column;
    gap: var(--doubleSpacing);
}

.filters-section {
    // @include medium-large {
    //     display: grid;
    //     grid-template-columns: 1fr minmax(120px, min-content);
    //     // justify-content: space-between;
    //     gap: var(--doubleSpacing);
    // }
}

.filters-section-description {
    font-size: 0.9rem;
    margin-bottom: var(--spacing);
    // padding: var(--spacing);
}

.filters-section-image {
    @include small {
        display: none;
    }
    display: flex;
    flex-direction: column;
    gap: var(--halfSpacing);
    svg {
        opacity: 0.5;
        width: 100%;
        display: block;
    }
    figcaption {
        font-size: 0.7rem;
        color: var(--textAltColor);
        text-align: center;
    }
}

.filters-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: var(--spacing);
    @include small-medium {
        flex-direction: column;
        align-items: flex-start;
        gap: var(--halfSpacing);
    }
}

.filters-heading {
    margin: 0;
    display: flex;
    align-items: center;
    gap: 5px;

    @include small-medium {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: var(--halfSpacing);
    }
    .filters-heading-title {
    }
    .filters-heading-separator {
        @include small-medium {
            display: none;
        }
    }
    .filters-heading-subtitle {
        display: flex;
        align-items: center;
        gap: var(--halfSpacing);
    }
}

.filters {
    display: flex;
    flex-direction: column;
    gap: var(--spacing);
}

.filters-bottom {
    border-top: 1px solid var(--borderColor);
    padding-top: var(--spacing);
    display: flex;
    justify-content: space-between;
}

.filters-footer-left {
    display: flex;
    gap: var(--spacing);
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
    li {
        text-align: center;
    }
}

.filters-footer-right {
    display: flex;
    gap: var(--spacing);
    align-items: center;
}
