:root {
    --medium: 400;
    --bold: 800;
    --spacing: 20px;
    --halfspacing: calc(var(--spacing) / 2);
    --quarterspacing: calc(var(--spacing) / 4);
    --doublespacing: calc(var(--spacing) * 2);

    --red: #fe6a6a;
    --border-color: var(--text);
    --link-color: var(--primary);
    --hover-color: var(--primary);

    --border: 1px dashed var(--border-color);

    --smaller-font: 0.7rem;
    --small-font: 0.8rem;
    --smallish-font: 0.9rem;
    --medium-font: 1rem;
    --large-font: 1.1rem;
    --larger-font: 1.3rem;
    --largest-font: 1.5rem;
}

html {
    box-sizing: border-box;
}

* {
    font-family: 'IBM Plex Mono', monospace;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}
a {
    text-decoration: none;
    transition: all ease-in 300ms;
}
a:hover {
    text-decoration: underline;
}

h1, h2, h3, h4, h5, h6, p, ul, ol {
    margin-top: 0;
    margin-bottom: var(--spacing);
}
