.About__Authors {
  @include large {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: $spacing;
  }
}

.Share__Options {
  display: flex;
  align-items: center;
  justify-content: center;
  a {
    display: flex;
    align-items: center;
    justify-content: center;
    svg {
      path {
        fill: $text-color;
      }
    }
    &:hover {
      svg {
        path {
          fill: $hover-color;
        }
      }
    }
  }
}

.Actions {
  text-align: center;
  .button {
    max-width: 350px;
    margin: 0 auto;
  }
}

.ViewResults {
  margin-top: $spacing;
}

// locale selector
.languages {
  margin-bottom: $spacing * 2;
  text-align: center;
  padding: $spacing;
  background: rgba(0, 0, 0, 0.3);
  &-languages {
    @include font-regular;
    font-size: $small-font;
    margin-bottom: 5px;
  }
  &-help {
    font-size: $small-font;
  }
}

.translators {
  margin-bottom: $spacing * 2;
  padding: $spacing * 2;
  @include border2;
  @include border-radius;
  &-heading {
    text-align: center;
    font-size: $large-font;
  }
  &-locales {
    @include large {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: $spacing;
      row-gap: $spacing;
    }
  }
  &-locale {
  }
  &-locale-heading {
    font-size: $smallish-font;
    // margin-bottom: $spacing/4;
    display: inline;
    &::after {
      content: ": ";
    }
  }
  &-locale-translators {
    display: inline;
  }
  &-locale-translator {
    font-size: $smallish-font;
  }
}

.ComingSoon {
  .button {
    margin-bottom: $spacing;
  }
}

.Intro {
  h2 {
    text-align: center;
  }
}
