.chart-item {
    display: flex;
    align-items: center;
    gap: 10px;
    max-width: 100%;
}
@keyframes scroll-text {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}
.chart-item-label-wrapper {
    text-align: right;
    font-size: 0.8rem;
    max-width: 200px;
    display: flex;
    overflow: hidden;
    .icon-wrapper {
        height: 16px;
        width: 16px;
        svg {
            height: 100%;
            width: 100%;
        }
    }
}
.chart-item-label {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-left: 0%;
    display: flex;
    align-items: center;
    gap: var(--quarterSpacing);
    .chart-item-label-wrapper:hover & {
        text-overflow: initial;
        overflow: visible;
        translate: -100%;
        margin-left: 100%;
        transition: 1s linear;
    }
    .chart-item-tech_industry_emotion &,
    .chart-item-ai_outlook &,
    .chart-item-ai_risks &,
    .chart-item-ai_uses & {
        .chart-row-depth-0 &::before {
            display: inline-block;
            content: ' ';
            height: 12px;
            width: 12px;
            border-radius: 50px;
            background: #ffffffaa;
            margin-right: 5px;
        }
    }
    .chart-item-negative_sentiment &,
    .chart-item-anti_ai_sentiment &,
    .chart-item-ai_risks & {
        .chart-row-depth-0 &::before {
            background-color: var(--sentimentNegativeColor);
        }
        // color: var(--sentimentNegativeColor);
    }

    .chart-item-positive_sentiment &,
    .chart-item-pro_ai_sentiment &,
    .chart-item-ai_uses & {
        .chart-row-depth-0 &::before {
            background-color: var(--sentimentPositiveColor);
        }
        // color: var(--sentimentPositiveColor);
    }
    .chart-item-neutral_ai_sentiment & {
        .chart-row-depth-0 &::before {
            background-color: var(--sentimentNeutralColor);
        }
    }
}

.chart-item-entity {
    .tooltip-trigger {
        border-bottom: none;
        display: flex;
        align-items: center;
    }
}
button.button-round {
    padding: 4px 8px 4px 8px;
    border-radius: 500px;
    font-size: 0.9rem;
    white-space: nowrap;
    background: var(--backgroundColor);
    z-index: 1;
}
button.chart-item {
    padding: 4px 8px 4px 8px;
}
.item-name {
    margin-bottom: 5px;
}
.item-description {
    margin-bottom: var(--spacing);
    font-size: 0.8rem;
}
.item-links {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.item-resources {
    list-style-type: none;
    padding: 0;
    margin: 0;
    border-top: 1px solid var(--borderAltColor);
    padding-top: var(--quarterSpacing);
    margin-top: var(--quarterSpacing);
    li {
        border-bottom: 1px solid var(--borderAltColor);
        padding-bottom: var(--quarterSpacing);
        margin-bottom: var(--quarterSpacing);
    }
}
.item-links-item {
}
.item-links-item-link {
    display: flex;
    align-items: center;
    gap: 10px;
}

.item-modal {
    .code-example {
        padding: var(--spacing);
        font-size: 0.8rem;
        background: var(--backgroundColor);
        margin-bottom: var(--spacing);
    }
}

.baseline-indicator {
    height: 8px;
    width: 8px;
    border-radius: 100%;
    overflow: hidden;
    color: #00000000;
    &-false {
        background-color: var(--textColor);
    }
    &-low {
        background-color: rgb(54, 108, 235);
    }
    &-high {
        background-color: rgb(79, 162, 81);
    }
}
// .baseline-indicator-text {
//     border-bottom: 3px solid;
//     &-low {
//         border-color: rgb(54, 108, 235);
//     }
//     &-high {
//         border-color: rgb(79, 162, 81);
//     }
// }

.chart-ai_outlook-disabled {
    .chart-row-depth-0 {
        .chart-item {
            &::after {
                display: inline-block;
                font-size: 0.6rem;
                padding: 0px 4px;
                // color: var(--textColorInverted);
                text-shadow: 1px 1px rgba(0, 0, 0, 0.85);
                border: 1px solid var(--borderColor);
            }
        }
        .chart-item-ai_risks::after {
            content: 'AI RISK';
            border-color: var(--sentimentNegativeColor);
        }

        .chart-item-ai_uses::after {
            content: 'AI USE';
            border-color: var(--sentimentPositiveColor);
        }

        .chart-item-pro_ai_sentiment::after {
            content: 'PRO-AI';
            border-color: var(--sentimentPositiveColor);
        }

        .chart-item-anti_ai_sentiment::after {
            content: 'ANTI-AI';
            border-color: var(--sentimentNegativeColor);
        }

        .chart-item-neutral_ai_sentiment::after {
            content: 'NEUTRAL';
            border-color: var(--sentimentNeutralColor);
        }
    }
}
