.chart-columns-lines-wrapper {
    // display: grid;
    // grid-template-columns: subgrid;
    // grid-template-rows: subgrid;
    grid-row: 1/2;
    grid-column: 2 / span calc(var(--totalColumns));
    position: relative;
    margin-bottom: 1px;
}

.chart-columns-lines {
    height: 100%;
    width: 100%;
    overflow: visible;
    line {
        stroke: currentColor;
        stroke-width: 3px;
    }

    circle {
        stroke: currentColor;
        stroke-width: 3px;
        fill: var(--backgroundColor);
    }
    text {
        fill: var(--textColor);
        text-anchor: middle;
        dominant-baseline: middle;
        font-size: 0.8rem;
    }
}
