@import '../../../../stylesheets/_breakpoints.scss';

.comments-wrapper {
    .block-question {
        background-color: var(--backgroundColor);
        margin: 0;
        margin-top: var(--halfSpacing);
    }
}
.comments-wrapper-note {
    font-size: 0.9rem;
    margin-bottom: var(--halfSpacing);
    color: var(--textAltColor);
}
.comments-contents {
    @include large {
        display: grid;
        grid-template-columns: 300px 1fr;
        gap: var(--doubleSpacing);
    }
}
.comments-heading {
    margin-bottom: var(--spacing);
}
.comments-heading-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    h3 {
        margin: 0;
    }
}
.comments-count {
    font-size: 1.2rem;
}
.comments-count-current {
}
.comments-count-all {
    color: var(--textAltColor);
}
.comments-filters {
    display: flex;
    gap: var(--doubleSpacing);
    flex-direction: column;
    min-width: 0;
}
.comments-filters-wrapper {
    @include small {
        margin-bottom: var(--spacing);

        & > .Button {
            display: block;
            width: 100%;
            margin-top: var(--spacing);
        }
        &-show .comments-filters {
            display: flex;
        }
        &-hide .comments-filters {
            display: none;
        }
    }
    @include medium-large {
        & > .Button {
            display: none;
        }
    }
}
.filter-no-items {
    color: var(--textAltColor);
}
.filter-section-heading {
    display: grid;
    grid-template-columns: 1fr min-content;
    align-items: center;
    // justify-content: space-between;
    border-bottom: 1px solid var(--borderColor);
    padding-bottom: var(--halfSpacing);
    margin-bottom: var(--halfSpacing);
    h4 {
        margin: 0;
    }
}
.filter-section-description {
    font-size: 0.9rem;
    margin-bottom: var(--halfSpacing);
}

.filter-section-items {
    display: flex;
    flex-wrap: wrap;
    gap: var(--halfSpacing);
}

.comment-message-wrapper {
    border-radius: 5px;
    background: var(--backgroundAlt2Color);
    background: var(--backgroundInvertedColor);
    color: var(--textColorInverted);
    padding: var(--spacing);
    position: relative;
}

.comment-index {
    // font-weight: bold;
    @include small {
        font-size: 1rem;
        display: none;
    }
    @include medium-large {
        font-size: 1.3rem;
    }
    // position: absolute;
    text-align: right;
    // top: 50%;
    // transform: translateY(-50%);
    // right: 15px;
    opacity: 0.35;
}
.comment-quote {
    font-size: 6rem;
    position: absolute;
    top: 0px;
    left: 5px;
    line-height: 1;
    opacity: 0.15;
    font-family: var(--secondaryFontFamily);
}

.comment-message {
    overflow-wrap: break-word;
    .highlight,
    mark {
        display: inline-block;
        background: #9f9f1366;
    }
    p:last-child {
        margin-bottom: 0;
    }
}
.comments-list {
    @include medium-large {
        display: grid;
        grid-template-columns: min-content 1fr;
    }
}

.comment-item-wrapper {
    margin-bottom: var(--spacing);
    @include medium-large {
        display: grid;
        grid-template-columns: subgrid;
        gap: var(--halfSpacing);
        grid-column: 1/3;
    }
}

.comment-report-link {
    font-size: 0.7rem;
    display: block;
    white-space: nowrap;
    &,
    &:link {
        color: var(--textAltColor);
    }
    &:hover {
        color: var(--linkColor);
    }
    @include small {
        margin-top: var(--halfSpacing);
    }
}
.comment-footer {
    margin-top: 8px;
    @include medium-large {
        display: flex;
        justify-content: space-between;
    }
}

.comment-filter-item {
    font-size: 0.85rem;
    border-radius: 50px;
    border: none;
    background: var(--backgroundAlt3Color);
    text-align: left;
    border: 2px solid transparent;
    text-shadow: 1px 1px #00000099;
    font-weight: bold;

    &:hover,
    &-active {
        background: var(--backgroundAlt2Color);
    }
    &-active {
        border: 2px solid white;
    }
}

.comment-like {
    display: flex;
    gap: var(--quarterSpacing);
    align-items: center;
    border-radius: 50px;
    opacity: 0.5;
    border-color: transparent;
    &-liked {
        border: 1px dashed;
    }
    &-liked,
    &:hover {
        opacity: 1;
    }
}

.chart-comments {
    display: flex;
    align-items: center;
    gap: 5px;
    // border-color: transparent;
    background: none;
    padding: 0;
}

.comment-response {
    display: flex;
    gap: 10px;
    position: relative;
    margin-top: -20px;
    left: 20px;
    flex-wrap: wrap;
}

.experience-item,
.sentiment-item,
.value-item,
.token-item {
    // background-color: var(--bgColor);
    // border: 2px solid var(--color);
    border: none;
    font-size: 0.7rem;
    border-radius: 30px;
    padding: 2px 8px;
    background: var(--color, var(--backgroundAlt3Color));
    // background: var(--color);
    text-shadow: 1px 1px #000000bb;
    font-weight: bold;
    text-transform: uppercase;
    white-space: nowrap;

    box-shadow: 1px 1px 2px #00000088;
}

.value-item-opinion.value-item-0,
.comment-filter-item-opinion.comment-filter-item-0 {
    background-color: #e45959;
}
.value-item-opinion.value-item-1,
.comment-filter-item-opinion.comment-filter-item-1 {
    background-color: #a67272;
}
.value-item-opinion.value-item-2,
.comment-filter-item-opinion.comment-filter-item-2 {
}
.value-item-opinion.value-item-3,
.comment-filter-item-opinion.comment-filter-item-3 {
    background-color: #7ab190;
}
.value-item-opinion.value-item-4,
.comment-filter-item-opinion.comment-filter-item-4 {
    background-color: #2eba66;
}

.comment-filter-item-used {
    background-color: #129dc0;
}
.comment-filter-item-heard {
    background-color: #aeefff;
}
.comment-filter-item-never_heard {
    background-color: #8b8085;
}
.comment-filter-item-positive {
    background-color: #5ce593;
}
.comment-filter-item-negative {
    background-color: #e45959;
}

.token-items {
    display: flex;
    gap: 10px;
    position: relative;
    top: 0px;
    left: 0px;
    flex-wrap: wrap;
}

.token-item {
    padding: 2px 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    &-main,
    &-secondary {
        background-color: var(--backgroundAlt2Color);
    }
    &-ancestors {
        font-size: 0.6rem;
        display: flex;
        gap: 4px;
        opacity: 0.8;
    }
    &-ancestor-separator {
        &::after {
            content: '>';
        }
    }
    &-label {
        font-size: 0.8rem;
    }
}
