---
import { secondaryFontMixin, mq, fontSize } from "@/lib/theme";
import { getPageLabelKey } from "@/lib/sitemap";
// import styled from 'styled-components'
/*
import { usePageContext } from '../helpers/pageContext'
import { getPageLabelKey } from '../helpers/pageHelpers'
import { mq, secondaryFontMixin, fontSize } from 'core/theme'
import T from 'core/i18n/T'

const PageHeader = () => {
    const pageContext = usePageContext()
    return (
        <PageTitle>
            <T k={getPageLabelKey({ pageContext })} />
        </PageTitle>
    )
}
`
*/

// TODO: check if Astro.path can be used in the underlying JS file?
const { pageDefinition } = Astro.locals;
---

<style
  set:html={`
    h2 {
        ${secondaryFontMixin()}
    @media ${mq.small} {
        font-size: ${fontSize("larger")};
    }
    @media ${mq.mediumLarge} {
        font-size: ${fontSize("huge")};
    }
    `}
></style>
<h2 class="PageTitle">{getPageLabelKey(pageDefinition)}</h2>
