---
import PageHeader from "@/components/pages/PageHeader.astro";
import PageFooter from "@/components/pages/PageFooter.astro";
// import PageFooter from 'core/pages/PageFooter'
// import { usePageContext } from 'core/helpers/pageContext'
// import BlockWrapper from 'core/blocks/block/BlockWrapper'
//
//     const context = usePageContext()
//     const { showTitle = true, is_hidden = false } = context
//     return (
//         <>
//             {showTitle && <PageHeader />}
//             <main className="Page__Contents">
//                 {context.blocks &&
//                     context.blocks.map((block, i) => (
//                         <BlockWrapper key={`${block.id}_${i}`} block={block} index={i} />
//                     ))}
//             </main>
//             {!is_hidden && <PageFooter />}
//         </>
//     )
// }
interface Props {
  showTitle?: boolean;
}
const { i18n, pageContext } = Astro.locals;
const { is_hidden } = pageContext;
const { showTitle } = Astro.props;
---

<main>
  {showTitle && <PageHeader />}
  {!is_hidden && <PageFooter />}
</main>
