@import '../../../stylesheets/_breakpoints.scss';

.awards-wrapper {
    margin-bottom: var(--quadrupleSpacing);
    @include medium-large {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: calc(var(--spacing) * 6);
        row-gap: var(--quadrupleSpacing);
    }
}
