@use 'sass:math';

.accounts-ui {
  .fields {
    .field {
      margin-bottom: $spacing;
    }
  }
  .buttons {
    @include flex-center;
    flex-direction: column;
    .btn-primary {
      margin: $spacing auto $spacing auto !important;
      min-width: 200px;
    }
    a {
      display: block;
      text-align: center;
      margin-bottom: math.div($spacing, 2);
      font-size: $smallish-font;
    }
  }
  .warning {
    display: block;
  }
  .error,
  .warning {
    background: $redTransparent;
  }
}

.user-responses-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.response-item {
  margin-bottom: $spacing/2;
  border: 1px solid var(--border-color);
  padding: $spacing;
  border-radius: 3px;
}
.response-item-survey {
  display: flex;
  align-items: center;
  font-size: $large-font;
  margin-bottom: $spacing/4;
  .survey-status {
    margin-left: 10px;
  }
}
.response-item-details {
  font-size: $smallish-font;
}
.survey-status {
  text-transform: uppercase;
  background: var(--bg-color-light);
  padding: 4px 8px;
  border-radius: 3px;
  font-size: $small-font;

  &-preview {
  }
  &-open {
  }
  &-closed {
  }
}
