# Surveyadmin is meant to be run locally,
# potentially in "dev" mode
# So we sometimes differentiate the env variable for local dev
# and production explicitely (see API_URL_PRODUCTION)

APP_NAME=surveyadmin

# in surveyadmin this is specifically the local API
API_URL=http://localhost:4030/graphql
# we have a specific variable for the production API
API_URL_PRODUCTION=https://api.devographics.com/graphql

# Local tests
MONGO_PUBLIC_URI=mongodb://localhost:27017/devographics_public
MONGO_PUBLIC_DB=devographics_public
MONGO_PRIVATE_URI=mongodb://localhost:27017/devographics_private
MONGO_PRIVATE_DB=devographics_private

# Redis

# Used by both local and staging
# Local setup with Docker (see root docker-compose and Justfile)
# REDIS_UPSTASH_URL=http://localhost:8080
REDIS_UPSTASH_URL_STAGING=XXX
REDIS_TOKEN_STAGING=XXX
# Used in production
# if needed, ask on Discord https://discord.gg/zRDb35jfrt
REDIS_UPSTASH_URL=https://xxx.upstash.io

# If connecting to the remote Upstash instance, you need to change this value
# If using the local setup, this value is actually important
# (it must match the token used when running your local Redis HTTP proxy, see Docker Compose setting)
REDIS_TOKEN=fake-dev-token
# REDIS_TOKEN=fake-dev-token
