@use "breakpoints";
@use "to-remove/colors";
@use "to-remove/typography";
@use "to-remove/variables";

/*

Vertical Bar Chart

*/
.OpinionScaleChart {
    padding-top: variables.$spacing;
    svg {
        overflow: visible;
    }
}
/*

Gauge Chart

*/

.FeaturesOverviewChart {
    height: 100%;
    // @include xsmall {
    //     height: 800px;
    // }
    // @include small {
    //     height: 800px;
    // }
    // @include medium {
    //     height: 800px;
    // }
    // @include large {
    //     height: 800px;
    // }
}
.FeaturesSectionOverviewChart {
    @include breakpoints.xsmall {
        height: 200px;
    }
    @include breakpoints.small {
        height: 400px;
    }
    @include breakpoints.medium {
        height: 500px;
    }
    @include breakpoints.large {
        height: 500px;
    }
}
.ToolsOverviewCirclePackingChart {
    svg {
        overflow: visible;
    }
}

/*

Technologies Overview Chart

*/
.TechnologiesOverviewChart {
    @include breakpoints.xsmall {
        height: 800px;
    }
    @include breakpoints.small {
        height: 800px;
    }
    @include breakpoints.medium {
        height: 800px;
    }
    @include breakpoints.large {
        height: 800px;
    }
}
/*

Quadrant/Scatterplot Chart

*/
.Scatterplot__Crosshair__Line {
    @include variables.svgAnts;
}

/*

Bump Chart

*/
@mixin coloredText($color) {
    display: inline-block;
    background: colors.$teal;
    color: colors.$navy;
    border-radius: 15px;
    padding: 0 12px;
    background: $color;
    @include typography.font-bold;
}
.text-highlight {
    @include coloredText(#000);
}
.text-green {
    @include coloredText(colors.$green);
}

.text-pink {
    @include coloredText(colors.$pink);
}
.text-pink-light {
    @include coloredText(colors.$pinkLight);
}
.text-pink-lighter {
    @include coloredText(colors.$pinkLighter);
}
.text-red {
    @include coloredText(colors.$red);
}
.text-teal {
    // @include coloredText($teal);
}
.text-teal-dark {
    // @include coloredText($tealDark);
}
.text-teal-darker {
    // @include coloredText($tealDarker);
    // color: #fff;
}

.text-blue {
    @include coloredText(colors.$blue);
}
.text-blackred {
    @include coloredText(variables.black(0.3));
    color: colors.$teal;
    border: 1px solid colors.$red;
}

.text-bold {
    @include typography.font-bold;
}

.Chip {
    display: block;
    margin-right: 7px;
    position: relative;
    overflow: hidden;
    height: 12px;
    width: 12px;
}
.Chip__Inner {
    height: 100%;
    width: 100%;
    display: block;
    .Chip--split & {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;

        &:last-child {
            z-index: 2;
            width: 200%;
            height: 100%;
            transform: translateX(-3px) translateY(5px) rotate(-45deg);
        }
    }
}
