@import '_breakpoints.scss';

.edition-td2023,
.edition-td2024 {
    font-size: 16px;
    font-family: Inter var, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI,
        Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji,
        Segoe UI Symbol, Noto Color Emoji;
    .block-header {
        display: block;
    }
    .PageTitle {
        @include small {
            font-size: 2.5rem;
        }
        @include medium-large {
            font-size: 4rem;
        }
    }
    .BlockTitleText {
        font-size: 2rem;
    }
    .Block__Title {
        margin-bottom: 10px;
    }
    .Button {
        border-radius: 0.375rem;
        border-width: 2px;
        border-style: solid;
        border-color: rgb(129, 140, 248);
        color: rgb(129, 140, 248);
        text-transform: uppercase;
    }
    .ButtonGroup .Button {
        border-radius: 0;
        margin-left: -2px;
        &:first-child {
            border-radius: 0.375rem 0 0 0.375rem;
        }
        &:last-child {
            border-radius: 0 0.375rem 0.375rem 0;
        }
    }
    .InternalLink {
        font-weight: normal;
    }
    .chart-row-index {
        // display: none;
    }
}

.survey-popover-trigger {
    .survey-tokyodev & {
        svg {
            height: 95%;
        }
    }
}

.tabs-wrapper-tokyodev_resources {
    .block-header-top {
        display: none;
    }
    .resource-image-link {
        border: none;
        border-radius: 0;
    }
}

.tabs-wrapper-ai_code_generation_frequency {
    .chart-average-marker-inner {
        display: none;
    }
}

.Page--overview {
    .Page__Contents {
        display: flex;
        flex-direction: column;
        gap: var(--tripleSpacing);
    }
    .tabs-wrapper-survey_intro,
    .intro-wrapper,
    .logo-wrapper {
        margin-bottom: 0;
    }
    .block--text {
        font-size: 1.1rem;
        max-width: 700px;
        margin: 0 auto;
        h1 {
            margin-top: 0;
        }
    }
    .chart-wrapper {
        margin-top: 0;
    }
    .chart-footer {
        display: none;
    }
    .block-header-wrapper {
        display: none;
    }
}

.chart-performance_pain_points,
.chart-performance_pain_points_limitations,
.chart-performance_pain_points_interop,
.chart-performance_pain_points_features {
    .chart-grid-item-heading {
        display: none;
    }
}
