$spacing: 20px;

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

$border: 1px solid $border-color-dark;
$border2: 1px solid $border-color;

@mixin border {
    border: $border;
}

@mixin border2 {
    border: $border2;
}

@function black($opacity) {
    @return rgba(0, 0, 0, $opacity);
}

@function white($opacity) {
    @return rgba(255, 255, 255, $opacity);
}

@mixin sr-only {
    border: 0;
    clip: rect(0 0 0 0);
    clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
    -webkit-clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
}
.sr-only {
    @include sr-only;
    .capture & {
        display: none !important;
    }
}

@keyframes svgAnts {
    to {
        stroke-dashoffset: 100%;
    }
}

@mixin svgAnts {
    stroke-dasharray: 8,4;
    animation: svgAnts 50s linear infinite;
    animation-fill-mode: forwards;
}
