.chart-note {
    background: var(--backgroundAltColor);
    padding: var(--spacing);
    margin-top: var(--spacing);
    font-size: 0.9rem;
    p,
    ul,
    ol {
        &:last-child {
            margin: 0;
        }
    }
}
