.chart-rows {
    position: relative;
}
.chart-rows-content {
    position: relative;
}

.chart-rows {
    position: relative;
    // z-index: 1;
    // padding: var(--halfSpacing) 0;
    // display: flex;
    // gap: var(--spacing);
    // flex-direction: column;
    // grid-auto-rows: minmax(0, 1fr);
    display: grid;

    // grid-template-columns: 200px minmax(0, 1fr) 100px;
    grid-template-columns: min-content 1fr min-content;

    column-gap: 20px;
    grid-template-areas: 'heading content metadata';
}
